
@{
    ViewBag.Title = "Fund";
}
<script>
    $("#fmFund").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Fund</b></h3>
    </div>
</div>
<div class="card-content" id="FMFundController" ng-controller="FMFundController" ng-init="FundTab();">

    <div class="card">
        <ul class="nav nav-tabs">
            <li class="nav-item bg-headerbc text-center">
                <a class="nav-link btn-min-width white active" id="base-tab1" ng-click="FundTab()" data-toggle="pill" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Fund</b></a>
            </li>
            <li class="nav-item bg-headerbc text-center">
                <a class="nav-link btn-min-width white" id="base-tab2" data-toggle="tab" ng-click="SubFundTab()" aria-controls="tab2" href="#tab2" aria-expanded="false"><b>Sub Fund</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Fund *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
              
            </div>
            @* Sub Fund *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2" aria-labelledby="base-tab2">
               
            </div>
        </div>
    </div>
</div>