
@{
    ViewBag.Title = "Sector";
}
<script>
    $("#fmSector").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title"><b>File Maintenance - Sector</b></h3>
    </div>
</div>

<div class="card-content" id="FMSectorController" ng-controller="FMSectorController" ng-init="SectorTab();">
    <div class="card">
        <ul class="nav nav-tabs">
            <li class="nav-item bg-headerbc">
                <a class="nav-link btn-min-width white active" id="base-tab1" ng-click="SectorTab()" data-toggle="pill" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Sector</b></a>
            </li>
            <li class="nav-item bg-headerbc">
                <a class="nav-link btn-min-width white " id="base-tab2" data-toggle="tab" ng-click="SubSectorTab()" aria-controls="tab2" href="#tab2" aria-expanded="false"><b>Sub Sector</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Sector *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
              
            </div>
            @* Sub Sector *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2" aria-labelledby="base-tab2">
              
            </div>
        </div>
    </div>
</div>