<div class="content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card-block">
                <div class="card-header bg-carheadercolor">
                    <h4 class="card-title black"><b>DV Type</b></h4>
                </div>
                <div class="card-body box-shadow-2" id="DVTypeID">

                </div>
            </div>
            <div class="card-block mt-1">
                <div class="card-header bg-carheadercolor">
                    <h4 class="card-title black"><b>List of DV Types</b></h4>
                </div>
                <div class="card-body box-shadow-2" id="DVTypeTableID">

                </div>
            </div>
        </div>
    </div>
</div>
