@{
    ViewBag.Title = "Payee";
}
<script>
    $("#fmPayee").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Payee</b></h3>
    </div>
</div>
<div class="row black" id="FMPayeeController" ng-controller="FMPayeeController" ng-init="InitAllFunction();">
    <div class="col-md-12">
        <div class="card box-shadow-2">
            <div class="card-body box-shadow-2">
                <div class="card-body px-1 card-body rounded menubackground">
                    <div id="_PayeeID"></div></div>
                    <div class="mt-1" id="_PayeeTableID"></div>
                </div>
            </div>
    </div>
</div>

<script>

    @*Angular Function*@
    app.controller('FMPayeeController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.InitAllFunction = function () {
            //Internal Revenue Allotment Table
            F.Get_PayeeTable();
        }
        @* Message Box *@
        F.SuccessMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Added", SuccessMess);
        }
        F.UpdateMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Update", SuccessMess);
        }
        F.DeleteMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Deleted", SuccessMess);
        }
        //Internal Revenue Allotment Share
        F.Get_PayeeTable = function () {
            P({
                url: '/FileMaintenancePayee/Get_OfficeTypeTable',
            }).then(function (response) {
                $("#_PayeeTableID").html(response.data);
            });
            F.Get_AddPayee();
        }
        F.LoadDynamicDDDepartment = function () {
            P({
                url: '/FileMaintenancePayee/GetDynamicDepartment',
            }).then(function (response) {
                $("#_DepartmentNameID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDDepartment = function () {
            var DepartmentIDTempID = $("#DepartmentIDTempID").val();
            P({
                url: '/FileMaintenancePayee/GetSelectedDynamicDepartment',
                params: { DepartmentIDTempID: DepartmentIDTempID }
            }).then(function (response) {
                $("#_DepartmentNameID").html(response.data);
            });
        }
        F.Get_AddPayee = function () {
            P({
                url: '/FileMaintenancePayee/Get_AddOfficeType',
            }).then(function (response) {
                $("#_PayeeID").html(response.data);
                F.LoadDynamicDDDepartment();
            });
        }
        F.Get_UpdatePayee = function (PayeeID) {
            P({
                url: '/FileMaintenancePayee/Get_UpdatePayee',
                params: { PayeeID: PayeeID }
            }).then(function (response) {
                $("#_PayeeID").html(response.data);
                F.LoadSelectedDynamicDDDepartment();
            });
        }
        F.Get_DeletePayee = function (PayeeID) {
            P({
                url: '/FileMaintenancePayee/DeletePayee',
                params: { PayeeID: PayeeID }
            }).then(function (response) {
                F.Get_PayeeTable();
            });
        }
    });
</script>