@{
    ViewBag.Title = "Payee";
}
<script>
    $("#fmPayee").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Payee</b></h3>
    </div>
</div>
<div class="row black" id="FMPayeeController" ng-controller="FMPayeeController" ng-init="InitAllFunction();">
    <div class="col-md-12">
        <div class="card box-shadow-2">
            <div class="card-body box-shadow-2">
                <div class="card-body px-1 card-body rounded menubackground">
                    <div id="_PayeeID"></div></div>
                    <div class="mt-1" id="_PayeeTableID"></div>
                </div>
            </div>
    </div>
</div>