@model TOSS_UPGRADE.Models.FM_ResponsibilityCenter.FM_ResponsibilityCenter_Section
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label class="custom-form-margin"><b>Department</b></label>
@Html.DropDownListFor(m => m.DepartmentID, Model.SectionList, new { @class = "form-control select2", id = "SectionDepartmentNameIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMDepartmentController','LoadDynamicDDSectionFunction','')" })

<script>
    $(function () {
        $("#SectionDepartmentNameIDD").select2();
    })
</script>

