
@{
    ViewBag.Title = "Chart of Accounts";
}
<script>
    $("#fchartofaccount").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Chart of Accounts</b></h3>
    </div>
</div>
<div class="card-content black" id="FMRevisonYearController" ng-controller="FMRevisonYearController" ng-init="RevisionYearTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" ng-click="RevisionYearTab()" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Revision Year</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" ng-click="AllotmentClassTab()" href="#tab2" aria-expanded="false"><b>Allotment Class</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" ng-click="AccountGroupTab()" aria-expanded="false"><b>Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab4" data-toggle="tab" aria-controls="tab4" href="#tab4" ng-click="MajorAccountGroupTab()" aria-expanded="false"><b>Major Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab5" data-toggle="tab" aria-controls="tab5" href="#tab5" ng-click="SubMajorAccountGroupTab()" aria-expanded="false"><b>Sub Major Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab6" data-toggle="tab" aria-controls="tab6" href="#tab6" aria-expanded="false"><b>General Account</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Revision Year *@
            <div role="tabpanel" class="tab-pane active" id="tab1" ng-bind-html="tab1" aria-expanded="true" aria-labelledby="base-tab1">
               
            </div>
            @* Allotment Class *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2"  aria-labelledby="base-tab2">
               
            </div>
            @* Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" ng-bind-html="tab3" aria-labelledby="base-tab3">
          
            </div>
            @* Major Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab4" aria-expanded="true" ng-bind-html="tab4" aria-labelledby="base-tab4">
               
            </div>
            @* Sub Major Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab5" aria-expanded="true" ng-bind-html="tab5" aria-labelledby="base-tab5">
               
            </div>
            @* General Account*@
            <div role="tabpanel" class="tab-pane" id="tab6" aria-expanded="true" aria-labelledby="base-tab6">
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12" @*id="DepartmentxID"*@>
                            <div class="row black">
                                <div class="col-md-2 pr-0">
                                    <label class="mt-1"><b>Revision Year</b></label>
                                    <select class="form-control">
                                        <option>2015</option>
                                    </select>
                                </div>
                                <div class="col-md-4 pr-0">
                                    <label class="mt-1"><b>Allotment Class</b></label>
                                    <select class="form-control">
                                        <option>N / A</option>
                                    </select>
                                </div>
                                <div class="col-md-2 pr-0">
                                    <label class="mt-1"><b>Accounts</b></label>
                                    <select class="form-control">
                                        <option>Asset</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="mt-1"><b>Major Account Group</b></label>
                                    <select class="form-control">
                                        <option>Property, Plant and Equipment</option>
                                        <option>Financial Liabilities</option>
                                        <option>Government Equity</option>
                                        <option>Tax Revenue</option>
                                        <option>Personnel Services</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row black">
                                <div class="col-md-4 pr-0">
                                    <label class="mt-1"><b>Sub Major Account Group</b></label>
                                    <select class="form-control">
                                        <option>Land</option>
                                        <option>Payables</option>
                                        <option>Government Equity</option>
                                        <option>Tax Revenue - Individual and Corporation</option>
                                        <option>Salaries and Wages</option>
                                    </select>
                                </div>
                                <div class="col-md-4 pr-0">
                                    <label class="mt-1"><b>General Ledger / Contra Account / Sub Account</b></label>
                                    <input type="text" class="form-control" />
                                </div>
                                @*<div class="col-md-2 pr-0">
                                        <label class="mt-1"><b>Contra Account?</b></label>
                                        <select class="form-control">
                                            <option>No</option>
                                        </select>
                                    </div>*@
                                <div class="col-md-2 px-0 text-center mt-4">
                                    <fieldset>
                                        <input type="checkbox" class="form-control icheckbox_square-red" />
                                        <label><b>Contra Account?</b></label>
                                    </fieldset>
                                </div>
                                <div class="col-md-2 px-0 text-center mt-4">
                                    <fieldset>
                                        <input type="checkbox" class="form-control icheckbox_square-red" />
                                        <label><b>Sub Account?</b></label>
                                    </fieldset>
                                </div>

                            </div>
                            <div class="row black">
                                <div class="col-md-5 pr-0">
                                    <label class="mt-1"><b>General Ledger Account</b></label>
                                    <select class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-md-3 pr-0 mt-1">
                                    <label><b>Account Code</b></label>
                                    <div class="input-group mt-0">
                                        <span class="input-group-addon" id="basic-addon1"><b>1 - 07 - 01 - </b></span>
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1"><b>With Reserve?</b></label>
                                    <select class="form-control">
                                        <option>No</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="mt-1"><b>Reserve %?</b></label>
                                    <input type="text" class="form-control" disabled />
                                </div>

                            </div>
                            <div class="row black">
                                <div class="col-md-3 pr-0">
                                    <label class="mt-1"><b>For Release?</b></label>
                                    <select class="form-control">
                                        <option>No</option>
                                    </select>
                                </div>
                                <div class="col-md-2 pr-0">
                                    <label class="mt-1"><b>For Continuing?</b></label>
                                    <select class="form-control">
                                        <option>No</option>
                                    </select>
                                </div>
                                <div class="col-md-3 pr-0">
                                    <label class="mt-1"><b>OBR Cash Advance?</b></label>
                                    <select class="form-control">
                                        <option>No</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label style="visibility:hidden" class="mt-1">Hide</label>
                                    <button type="submit" class="btn bg-addbutton form-control black" onclick="reload">
                                        <b>Add</b>
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label style="visibility:hidden" class="mt-1">Hide</label>
                                    <button type="reset" class="btn bg-headerbc form-control white">
                                        <b>Cancel</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1" @*id="DepartmentTableID"*@>
                        <div class="col-md-12">
                            <table class="table table-striped zero-configuration table-bordered table-responsive text-center table-smss-hover no-footer m-0 w-100">
                                <thead class="text-center">
                                    <tr>
                                        <th>Revision Year</th>
                                        <th>Allotment Class</th>
                                        <th>Accounts</th>
                                        <th>Major Account Group</th>
                                        <th>Sub Major Account Group</th>
                                        <th>General Account</th>
                                        <th>Account Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Asset</td>
                                        <td>Property, Plant and Equipment</td>
                                        <td>Land</td>
                                        <td>Land</td>
                                        <td>1-07-01-010</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Liabilities</td>
                                        <td>Financial Liabilities</td>
                                        <td>Payables</td>
                                        <td>Accounts Payables</td>
                                        <td>2-01-01-10</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Equity</td>
                                        <td>Government Equity</td>
                                        <td>Government Equity</td>
                                        <td>Prior Period Adjustment</td>
                                        <td>3-01-01-020</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>N / A</td>
                                        <td>Income</td>
                                        <td>Tax Revenue</td>
                                        <td>Tax Revenue - Individual and Corporation</td>
                                        <td>Professinal Tax</td>
                                        <td>4-01-01-020</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>2015</td>
                                        <td>Personal Service</td>
                                        <td>Expenses</td>
                                        <td>Personnel Services</td>
                                        <td>Salaries and Wages</td>
                                        <td>Salaries and Wages - Regular</td>
                                        <td>5-01-01-10</td>
                                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    @* Angular Function *@
    app.controller('FMRevisonYearController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.RevisionYearTab = function () {
            F.tab1 = null;
            P({
                url: '/FileMaintenanceChartofAccount/RevisionYearTab',
            }).then(function (response) {
                F.tab1 = D(response.data);
                F.Get_RevisionYearTable();
            });
        }
        F.AllotmentClassTab = function () {
            F.tab2 = null;
            P({
                url: '/FileMaintenanceChartofAccount/AllotmentClassTab',
            }).then(function (response) {
                F.tab2 = D(response.data);
                F.Get_AllotmentClassTable();
            });
        }
        F.AccountGroupTab = function () {
            F.tab3 = null;
            P({
                url: '/FileMaintenanceChartofAccount/AccountGroupTab',
            }).then(function (response) {
                F.tab3 = D(response.data);
                F.Get_AccountGroupTable();
            });
        }
        F.MajorAccountGroupTab = function () {
            F.tab4 = null;
            P({
                url: '/FileMaintenanceChartofAccount/MajorAccountGroupTab',
            }).then(function (response) {
                F.tab4 = D(response.data);
                F.Get_MajorAccountGroupTable();
            });
        }
        F.SubMajorAccountGroupTab = function () {
            F.tab5 = null;
            P({
                url: '/FileMaintenanceChartofAccount/SubMajorAccountGroupTab',
            }).then(function (response) {
                F.tab5 = D(response.data);
                //F.Get_MajorAccountGroupTable();
            });
        }
        //Revision Year
        F.Get_RevisionYearTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_RevisionYearTable',
            }).then(function (response) {
                $("#_RevisionYearTableID").html(response.data);
            });
            F.Get_AddRevisionYear();
        }
        F.Get_AddRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AddRevisionYear',
            }).then(function (response) {
                $("#_RevisionYearID").html(response.data);
            });
        }
        F.Get_UpdateRevisionYear = function (RevisionYearID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateRevisionYear',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                $("#_RevisionYearID").html(response.data);
            });
        }
        F.Get_DeleteRevisionYear = function (RevisionYearID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteRevisionYear',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                F.Get_RevisionYearTable();
            });
        }

        //Allotment Class
        F.Get_AllotmentClassTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AllotmentClassTable',
            }).then(function (response) {
                $("#_AllotmentClassTableID").html(response.data);
            });
            F.Get_AddAllotmentClass();
        }
        F.Get_AddAllotmentClass = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AddAllotmentClass',
            }).then(function (response) {
                $("#_AllotmentClassID").html(response.data);
                F.LoadDynamicDDRevisionYear();
            });
        }
        F.LoadDynamicDDRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicRevisionYear',
            }).then(function (response) {
                $("#_DynamicDDRevisionYearID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDRevisionYear = function () {
            var RevisionYearDateTempID = $("#RevisionYearDateTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicRevisionYear',
                params: { RevisionYearDateTempID: RevisionYearDateTempID }
            }).then(function (response) {
                $("#_DynamicDDRevisionYearID").html(response.data);
            });
        }
        F.Get_UpdateAllotmentClass = function (AllotmentClassID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateAllotmentClass',
                params: { AllotmentClassID: AllotmentClassID }
            }).then(function (response) {
                $("#_AllotmentClassID").html(response.data);
                F.LoadSelectedDynamicDDRevisionYear();
            });
        }
        F.Get_DeleteAllotmentClass = function (AllotmentClassID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteAllotmentClass',
                params: { AllotmentClassID: AllotmentClassID }
            }).then(function (response) {
                F.Get_AllotmentClassTable();
            });
        }

        //Account Group
        F.Get_AccountGroupTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AccountGroupTable',
            }).then(function (response) {
                $("#_AccountGroupTableID").html(response.data);
            });
            F.Get_AddAccountGroup();
        }
        F.Get_AddAccountGroup = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AddAccountGroup',
            }).then(function (response) {
                $("#_AccountGroupID").html(response.data);
                F.LoadDynamicDDAccountGroupRevisionYear();
            });
        }
        F.LoadDynamicDDAccountGroupRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicAccountGroupRevisionYear',
            }).then(function (response) {
                $("#_AccountGroupRevisionYearID").html(response.data);
                F.LoadDynamicDDAccountGroupAllotmentClass();
            });
        }
        F.LoadDynamicDDAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#AccountGroupRevisionYearNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                $("#_AccountGroupAllotmentClassID").html(response.data);
            });
        }
        F.Get_UpdateAccountGroup = function (AccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateAccountGroup',
                params: { AccountGroupID: AccountGroupID }
            }).then(function (response) {
                $("#_AccountGroupID").html(response.data);
                F.LoadSelectedDynamicDDAccountGroupRevisionYear();
            });
        }
        F.LoadSelectedDynamicDDAccountGroupRevisionYear = function () {
            var RevisionYearDateTempID = $("#RevisionYearDateTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicAccountGroupRevisionYear',
                params: { RevisionYearDateTempID: RevisionYearDateTempID }
            }).then(function (response) {
                $("#_AccountGroupRevisionYearID").html(response.data);
                F.LoadSelectedDynamicDDAccountGroupAllotmentClass();
            });
        }
        F.LoadSelectedDynamicDDAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#RevisionYearDateTempID").val();
            var AllotmentClassIDTempID = $("#AllotmentClassIDTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID, AllotmentClassIDTempID: AllotmentClassIDTempID }
            }).then(function (response) {
                $("#_AccountGroupAllotmentClassID").html(response.data);            
            });
        }
        F.Get_DeleteAccountGroup = function (AccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteAccountGroup',
                params: { AccountGroupID: AccountGroupID }
            }).then(function (response) {
                F.Get_AccountGroupTable();
            });
        }

        //Major Account Group
        F.Get_MajorAccountGroupTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_MajorAccountGroupTable',
            }).then(function (response) {
                $("#MajorAccountGroupTableID").html(response.data);
            });
            F.Get_AddMajorAccountGroup();
        }
        F.Get_AddMajorAccountGroup = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_MajorAddAccountGroup',
            }).then(function (response) {
                $("#_MajorAccountGroupID").html(response.data);
                F.LoadDynamicDDMajorAccountGroupRevisionYear();
            });
        }
        F.LoadDynamicDDMajorAccountGroupRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicMajorAccountGroupRevisionYear',
            }).then(function (response) {
                $("#_MajorRevisionYearID").html(response.data);
                F.LoadDynamicDDMajorAccountGroupAllotmentClass();
            });
        } 
        F.LoadDynamicDDMajorAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#MajorAccountGroupRevisionYearNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicMajorAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                $("#_MajorAllotmentClassID").html(response.data);
                F.LoadDynamicDDMajorAccountGroupAccountGroupName();
                });
        }
        F.LoadDynamicDDMajorAccountGroupAccountGroupName = function () {
            var AllotmentClassID = $("#MajorAccountGroupAllotmentClassNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicMajorAccountGroupAccountGroupName',
                params: { AllotmentClassID: AllotmentClassID }
            }).then(function (response) {
                $("#_MajorAccountGroupNameID").html(response.data);
                F.LoadDynamicLMajorAccountCode();
            });
        }
        F.LoadDynamicLMajorAccountCode = function () {
            var AccountGroupID = $("#MajorAccountGroupAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetMajorAccountCodeField',
                params: { AccountGroupID: AccountGroupID },
            }).then(function (response) {
                $("#_DynamicMajorAccountCode").html(response.data);
            });
        }
        F.Get_UpdateMajorAccountGroup = function (MajorAccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateMajorAccountGroup',
                params: { MajorAccountGroupID: MajorAccountGroupID }
            }).then(function (response) {
                $("#_MajorAccountGroupID").html(response.data);
                F.LoadSelectedDynamicDDMajorAccountGroupRevisionYear();
            });
        }
        F.LoadSelectedDynamicDDMajorAccountGroupRevisionYear = function () {
            var RevisionYearDateTempID1 = $("#RevisionYearDateTempID1");
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicMajorAccountGroupRevisionYear',
                params: { RevisionYearDateTempID1: RevisionYearDateTempID1}
            }).then(function (response) {
                $("#_MajorRevisionYearID").html(response.data);
                F.LoadSelectedDynamicDDMajorAccountGroupAllotmentClass();
            });
        } 
        F.LoadSelectedDynamicDDMajorAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#MajorAccountGroupRevisionYearNameIDD").val();
            var AllotmentClassIDTempID1 = $("#AllotmentClassIDTempID1").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicMajorAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID, AllotmentClassIDTempID1: AllotmentClassIDTempID1}
            }).then(function (response) {
                $("#_MajorAllotmentClassID").html(response.data);
                F.LoadSelectedDynamicDDMajorAccountGroupAccountGroupName();
            });
        }
        F.LoadSelectedDynamicDDMajorAccountGroupAccountGroupName = function () {
            var AllotmentClassID = $("#MajorAccountGroupAllotmentClassNameIDD").val();
            var AccountGroupIDTempID1 = $("#AccountGroupIDTempID1").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicMajorAccountGroupAccountGroupName',
                params: { AllotmentClassID: AllotmentClassID, AccountGroupIDTempID1: AccountGroupIDTempID1 }
            }).then(function (response) {
                $("#_MajorAccountGroupNameID").html(response.data);
                F.LoadDynamicLMajorAccountCode();
            });
        }
        F.Get_DeleteMajorAccountGroup = function (MajorAccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteMajorAccountGroup',
                params: { MajorAccountGroupID: MajorAccountGroupID }
            }).then(function (response) {
                F.Get_MajorAccountGroupTable();
            });
        }
    });
</script>
