
@{
    ViewBag.Title = "Chart of Accounts";
}
<script>
    $("#fchartofaccount").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Chart of Accounts</b></h3>
    </div>
</div>
<div class="card-content black" id="FMRevisonYearController" ng-controller="FMRevisonYearController" ng-init="RevisionYearTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" ng-click="RevisionYearTab()" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Revision Year</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" ng-click="AllotmentClassTab()" href="#tab2" aria-expanded="false"><b>Allotment Class</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" ng-click="AccountGroupTab()" aria-expanded="false"><b>Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab4" data-toggle="tab" aria-controls="tab4" href="#tab4" ng-click="MajorAccountGroupTab()" aria-expanded="false"><b>Major Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab5" data-toggle="tab" aria-controls="tab5" href="#tab5" ng-click="SubMajorAccountGroupTab()" aria-expanded="false"><b>Sub Major Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab6" data-toggle="tab" aria-controls="tab6" href="#tab6" ng-click="GeneralAccountGroupTab()"  aria-expanded="false"><b>General Account</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Revision Year *@
            <div role="tabpanel" class="tab-pane active" id="tab1" ng-bind-html="tab1" aria-expanded="true" aria-labelledby="base-tab1">
               
            </div>
            @* Allotment Class *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2"  aria-labelledby="base-tab2">
               
            </div>
            @* Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" ng-bind-html="tab3" aria-labelledby="base-tab3">
          
            </div>
            @* Major Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab4" aria-expanded="true" ng-bind-html="tab4" aria-labelledby="base-tab4">
               
            </div>
            @* Sub Major Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab5" aria-expanded="true" ng-bind-html="tab5" aria-labelledby="base-tab5">
               
            </div>
            @* General Account*@
            <div role="tabpanel" class="tab-pane" id="tab6" aria-expanded="true" ng-bind-html="tab6"  aria-labelledby="base-tab6">
              
            </div>
        </div>
    </div>
</div>

<script>
    @* Angular Function *@
    app.controller('FMRevisonYearController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.RevisionYearTab = function () {
            F.tab1 = null;
            P({
                url: '/FileMaintenanceChartofAccount/RevisionYearTab',
            }).then(function (response) {
                F.tab1 = D(response.data);
                F.Get_RevisionYearTable();
            });
        }
        F.AllotmentClassTab = function () {
            F.tab2 = null;
            P({
                url: '/FileMaintenanceChartofAccount/AllotmentClassTab',
            }).then(function (response) {
                F.tab2 = D(response.data);
                F.Get_AllotmentClassTable();
            });
        }
        F.AccountGroupTab = function () {
            F.tab3 = null;
            P({
                url: '/FileMaintenanceChartofAccount/AccountGroupTab',
            }).then(function (response) {
                F.tab3 = D(response.data);
                F.Get_AccountGroupTable();
            });
        }
        F.MajorAccountGroupTab = function () {
            F.tab4 = null;
            P({
                url: '/FileMaintenanceChartofAccount/MajorAccountGroupTab',
            }).then(function (response) {
                F.tab4 = D(response.data);
                F.Get_MajorAccountGroupTable();
            });
        }
        F.SubMajorAccountGroupTab = function () {
            F.tab5 = null;
            P({
                url: '/FileMaintenanceChartofAccount/SubMajorAccountGroupTab',
            }).then(function (response) {
                F.tab5 = D(response.data);
                F.Get_SubMajorAccountGroupTable();
            });
        }
        F.GeneralAccountGroupTab = function () {
            F.tab6 = null;
            P({
                url: '/FileMaintenanceChartofAccount/GeneralAccountGroupTab',
            }).then(function (response) {
                F.tab6 = D(response.data);
                F.Get_GeneralAccountTable();
            });
        }

        //Revision Year
        F.Get_RevisionYearTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_RevisionYearTable',
            }).then(function (response) {
                $("#_RevisionYearTableID").html(response.data);
            });
            F.Get_AddRevisionYear();
        }
        F.Get_AddRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AddRevisionYear',
            }).then(function (response) {
                $("#_RevisionYearID").html(response.data);
            });
        }
        F.Get_UpdateRevisionYear = function (RevisionYearID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateRevisionYear',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                $("#_RevisionYearID").html(response.data);
            });
        }
        F.Get_DeleteRevisionYear = function (RevisionYearID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteRevisionYear',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                F.Get_RevisionYearTable();
            });
        }

        //Allotment Class
        F.Get_AllotmentClassTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AllotmentClassTable',
            }).then(function (response) {
                $("#_AllotmentClassTableID").html(response.data);
            });
            F.Get_AddAllotmentClass();
        }
        F.Get_AddAllotmentClass = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AddAllotmentClass',
            }).then(function (response) {
                $("#_AllotmentClassID").html(response.data);
                F.LoadDynamicDDRevisionYear();
            });
        }
        F.LoadDynamicDDRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicRevisionYear',
            }).then(function (response) {
                $("#_DynamicDDRevisionYearID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDRevisionYear = function () {
            var RevisionYearDateTempID = $("#RevisionYearDateTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicRevisionYear',
                params: { RevisionYearDateTempID: RevisionYearDateTempID }
            }).then(function (response) {
                $("#_DynamicDDRevisionYearID").html(response.data);
            });
        }
        F.Get_UpdateAllotmentClass = function (AllotmentClassID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateAllotmentClass',
                params: { AllotmentClassID: AllotmentClassID }
            }).then(function (response) {
                $("#_AllotmentClassID").html(response.data);
                F.LoadSelectedDynamicDDRevisionYear();
            });
        }
        F.Get_DeleteAllotmentClass = function (AllotmentClassID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteAllotmentClass',
                params: { AllotmentClassID: AllotmentClassID }
            }).then(function (response) {
                F.Get_AllotmentClassTable();
            });
        }

        //Account Group
        F.Get_AccountGroupTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AccountGroupTable',
            }).then(function (response) {
                $("#_AccountGroupTableID").html(response.data);
            });
            F.Get_AddAccountGroup();
        }
        F.Get_AddAccountGroup = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AddAccountGroup',
            }).then(function (response) {
                $("#_AccountGroupID").html(response.data);
                F.LoadDynamicDDAccountGroupRevisionYear();
            });
        }
        F.LoadDynamicDDAccountGroupRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicAccountGroupRevisionYear',
            }).then(function (response) {
                $("#_AccountGroupRevisionYearID").html(response.data);
                F.LoadDynamicDDAccountGroupAllotmentClass();
            });
        }
        F.LoadDynamicDDAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#AccountGroupRevisionYearNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                $("#_AccountGroupAllotmentClassID").html(response.data);
            });
        }
        F.Get_UpdateAccountGroup = function (AccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateAccountGroup',
                params: { AccountGroupID: AccountGroupID }
            }).then(function (response) {
                $("#_AccountGroupID").html(response.data);
                F.LoadSelectedDynamicDDAccountGroupRevisionYear();
            });
        }
        F.LoadSelectedDynamicDDAccountGroupRevisionYear = function () {
            var RevisionYearDateTempID = $("#RevisionYearDateTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicAccountGroupRevisionYear',
                params: { RevisionYearDateTempID: RevisionYearDateTempID }
            }).then(function (response) {
                $("#_AccountGroupRevisionYearID").html(response.data);
                F.LoadSelectedDynamicDDAccountGroupAllotmentClass();
            });
        }
        F.LoadSelectedDynamicDDAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#RevisionYearDateTempID").val();
            var AllotmentClassIDTempID = $("#AllotmentClassIDTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID, AllotmentClassIDTempID: AllotmentClassIDTempID }
            }).then(function (response) {
                $("#_AccountGroupAllotmentClassID").html(response.data);            
            });
        }
        F.Get_DeleteAccountGroup = function (AccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteAccountGroup',
                params: { AccountGroupID: AccountGroupID }
            }).then(function (response) {
                F.Get_AccountGroupTable();
            });
        }

        //Major Account Group
        F.Get_MajorAccountGroupTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_MajorAccountGroupTable',
            }).then(function (response) {
                $("#MajorAccountGroupTableID").html(response.data);
            });
            F.Get_AddMajorAccountGroup();
        }
        F.Get_AddMajorAccountGroup = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_MajorAddAccountGroup',
            }).then(function (response) {
                $("#_MajorAccountGroupID").html(response.data);
                F.LoadDynamicDDMajorAccountGroupRevisionYear();
            });
        }
        F.LoadDynamicDDMajorAccountGroupRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicMajorAccountGroupRevisionYear',
            }).then(function (response) {
                $("#_MajorRevisionYearID").html(response.data);
                F.LoadDynamicDDMajorAccountGroupAllotmentClass();
            });
        } 
        F.LoadDynamicDDMajorAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#MajorAccountGroupRevisionYearNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicMajorAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                $("#_MajorAllotmentClassID").html(response.data);
                F.LoadDynamicDDMajorAccountGroupAccountGroupName();
                });
        }
        F.LoadDynamicDDMajorAccountGroupAccountGroupName = function () {
            var AllotmentClassID = $("#MajorAccountGroupAllotmentClassNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicMajorAccountGroupAccountGroupName',
                params: { AllotmentClassID: AllotmentClassID }
            }).then(function (response) {
                $("#_MajorAccountGroupNameID").html(response.data);
                F.LoadDynamicLMajorAccountCode();
            });
        }
        F.LoadDynamicLMajorAccountCode = function () {
            var AccountGroupID = $("#MajorAccountGroupAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetMajorAccountCodeField',
                params: { AccountGroupID: AccountGroupID },
            }).then(function (response) {
                $("#_DynamicMajorAccountCode").html(response.data);
            });
        }
        F.Get_UpdateMajorAccountGroup = function (MajorAccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateMajorAccountGroup',
                params: { MajorAccountGroupID: MajorAccountGroupID }
            }).then(function (response) {
                $("#_MajorAccountGroupID").html(response.data);
                F.LoadSelectedDynamicDDMajorAccountGroupRevisionYear();
            });
        }
        F.LoadSelectedDynamicDDMajorAccountGroupRevisionYear = function () {
            var RevisionYearDateTempID = $("#RevisionYearDateTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicMajorAccountGroupRevisionYear',
                params: { RevisionYearDateTempID: RevisionYearDateTempID}
            }).then(function (response) {
                $("#_MajorRevisionYearID").html(response.data);
                F.LoadSelectedDynamicDDMajorAccountGroupAllotmentClass();
            });
        } 
        F.LoadSelectedDynamicDDMajorAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#MajorAccountGroupRevisionYearNameIDD").val();
            var AllotmentClassIDTempID = $("#AllotmentClassIDTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicMajorAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID, AllotmentClassIDTempID: AllotmentClassIDTempID}
            }).then(function (response) {
                $("#_MajorAllotmentClassID").html(response.data);
                F.LoadSelectedDynamicDDMajorAccountGroupAccountGroupName();
            });
        }
        F.LoadSelectedDynamicDDMajorAccountGroupAccountGroupName = function () {
            var AllotmentClassID = $("#MajorAccountGroupAllotmentClassNameIDD").val();
            var AccountGroupIDTempID = $("#AccountGroupIDTempID").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicMajorAccountGroupAccountGroupName',
                params: { AllotmentClassID: AllotmentClassID, AccountGroupIDTempID: AccountGroupIDTempID }
            }).then(function (response) {
                $("#_MajorAccountGroupNameID").html(response.data);
                F.LoadDynamicLMajorAccountCode();
            });
        }
        F.Get_DeleteMajorAccountGroup = function (MajorAccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteMajorAccountGroup',
                params: { MajorAccountGroupID: MajorAccountGroupID }
            }).then(function (response) {
                F.Get_MajorAccountGroupTable();
            });
        }

        //Sub Major Account Group
        F.Get_SubMajorAccountGroupTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_SubMajorAccountGroupTable',
            }).then(function (response) {
                $("#_SubMajorAccountGroupTableID").html(response.data);
            });
            F.Get_AddSubMajorAccountGroup();
        }
        F.Get_AddSubMajorAccountGroup = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_SubMajorAddAccountGroup',
            }).then(function (response) {
                $("#_SubMajorAccountGroupID").html(response.data);
                F.LoadDynamicDDSubMajorAccountGroupRevisionYear();
            });
        }
        F.LoadDynamicDDSubMajorAccountGroupRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicSubMajorAccountGroupRevisionYear',
            }).then(function (response) {
                $("#_SubMajorRevisionYearID").html(response.data);
                F.LoadDynamicDDSubMajorAccountGroupAllotmentClass();
            });
        }
        F.LoadDynamicDDSubMajorAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#SubMajorAccountGroupRevisionYearNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicSubMajorAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                $("#_SubMajorAllotmentClassID").html(response.data);
                F.LoadDynamicDDSubMajorAccountGroupAccountGroupName();
            });
        }
        F.LoadDynamicDDSubMajorAccountGroupAccountGroupName = function () {
            var AllotmentClassID = $("#SubMajorAccountGroupAllotmentClassNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicSubMajorAccountGroupAccountGroupName',
                params: { AllotmentClassID: AllotmentClassID }
            }).then(function (response) {
                $("#_SubMajorAccountGroupNameID").html(response.data);
                F.LoadDynamicLSubMajorAccountCode();
                F.LoadDynamicDDSubMajorAccountGroupMajorAccountGroupName();
            });
        }
        F.LoadDynamicDDSubMajorAccountGroupMajorAccountGroupName = function () {
            var AccountGroupID = $("#SubMajorAccountGroupAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicSubMajorAccountGroupMajorAccountGroupName',
                params: { AccountGroupID: AccountGroupID }
            }).then(function (response) {
                $("#_DynamicMajorAccountGroupNameID").html(response.data);
                F.LoadDynamicLSubMajorAccountCode2();
            });
        }
        F.LoadDynamicLSubMajorAccountCode = function () {
            var AccountGroupID = $("#SubMajorAccountGroupAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSubMajorAccountCodeField',
                params: { AccountGroupID: AccountGroupID },
            }).then(function (response) {
                $("#_DynamicSubMajorAccountCode1").html(response.data);
            });
        }
        F.LoadDynamicLSubMajorAccountCode2 = function () {
            var MajorAccountGroupID = $("#SubMajorAccountGroupMajorAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSubMajorAccountCodeField2',
                params: { MajorAccountGroupID: MajorAccountGroupID },
            }).then(function (response) {
                $("#_DynamicSubMajorAccountCode2").html(response.data);
            });
        }
        F.Get_UpdateSubMajorAccountGroup = function (SubMajorAccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/Get_UpdateSubMajorAccountGroup',
                params: { SubMajorAccountGroupID: SubMajorAccountGroupID }
            }).then(function (response) {
                $("#_SubMajorAccountGroupID").html(response.data);
                F.LoadSelectedDynamicDDSubMajorAccountGroupRevisionYear();
            });
        }
        F.LoadSelectedDynamicDDSubMajorAccountGroupRevisionYear = function () {
            var RevisionYearDateTempID2 = $("#RevisionYearDateTempID2").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicSubMajorAccountGroupRevisionYear',
                params: { RevisionYearDateTempID2: RevisionYearDateTempID2 }
            }).then(function (response) {
                $("#_SubMajorRevisionYearID").html(response.data);
                F.LoadSelectedDynamicDDSubMajorAccountGroupAllotmentClass();
            });
        } 
        F.LoadSelectedDynamicDDSubMajorAccountGroupAllotmentClass = function () {
            var RevisionYearID = $("#RevisionYearDateTempID2").val();
            var AllotmentClassIDTempID2 = $("#AllotmentClassIDTempID2").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicSubMajorAccountGroupAllotmentClass',
                params: { RevisionYearID: RevisionYearID, AllotmentClassIDTempID2: AllotmentClassIDTempID2 }
            }).then(function (response) {
                $("#_SubMajorAllotmentClassID").html(response.data);
                F.LoadSelectedDynamicDDSubMajorAccountGroupAccountGroupName();
            });
        }
        F.LoadSelectedDynamicDDSubMajorAccountGroupAccountGroupName = function () {
            var AllotmentClassID = $("#SubMajorAccountGroupAllotmentClassNameIDD").val();
            var AccountGroupIDTempID2 = $("#AccountGroupIDTempID2").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicSubMajorAccountGroupAccountGroupName',
                params: { AllotmentClassID: AllotmentClassID, AccountGroupIDTempID2: AccountGroupIDTempID2 }
            }).then(function (response) {
                $("#_SubMajorAccountGroupNameID").html(response.data);
                F.LoadDynamicLSubMajorAccountCode();
                F.LoadSelectedDynamicDDSubMajorAccountGroupMajorAccountGroupName();
            });
        }
        F.LoadSelectedDynamicDDSubMajorAccountGroupMajorAccountGroupName = function () {
            var AccountGroupID = $("#SubMajorAccountGroupAccountGroupNameIDD").val();
            var MajorAccountGroupNameTempID2 = $("#MajorAccountGroupNameTempID2").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetSelectedDynamicSubMajorAccountGroupMajorAccountGroupName',
                params: { AccountGroupID: AccountGroupID, MajorAccountGroupNameTempID2: MajorAccountGroupNameTempID2 }
            }).then(function (response) {
                $("#_DynamicMajorAccountGroupNameID").html(response.data);
                F.LoadDynamicLSubMajorAccountCode2();
            });
        }
        F.Get_DeleteSubMajorAccountGroup = function (SubMajorAccountGroupID) {
            P({
                url: '/FileMaintenanceChartofAccount/DeleteSubMajorAccountGroup',
                params: { SubMajorAccountGroupID: SubMajorAccountGroupID }
            }).then(function (response) {
                F.Get_SubMajorAccountGroupTable();
            });
        }

        //General Account
        F.Get_GeneralAccountTable = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_SubMajorAccountGroupTable',
            }).then(function (response) {
                $("#_GeneralAccountTableID").html(response.data);
            });
            F.Get_AddGeneralAccount();
        }
        F.Get_AddGeneralAccount = function () {
            P({
                url: '/FileMaintenanceChartofAccount/Get_AddGeneralAccount',
            }).then(function (response) {
                $("#_GeneralAccountID").html(response.data);
                F.LoadDynamicDDGeneralAccountRevisionYear();
                F.LoadDynamicDDGeneralAccountName();
            });
        }
        F.LoadDynamicDDGeneralAccountRevisionYear = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicGeneralAccountRevisionYear',
            }).then(function (response) {
                $("#_GeneralRevisionYearID").html(response.data);
                F.LoadDynamicDDGeneralAccountAllotmentClass();
            });
        }
        F.LoadDynamicDDGeneralAccountAllotmentClass = function () {
            var RevisionYearID = $("#GeneralAccountRevisionYearNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicGeneralAccountAllotmentClass',
                params: { RevisionYearID: RevisionYearID }
            }).then(function (response) {
                $("#_GeneralAllotmentClassID").html(response.data);
                F.LoadDynamicDDGeneralAccountGroupName();
            });
        }
        F.LoadDynamicDDGeneralAccountGroupName = function () {
            var AllotmentClassID = $("#GeneralAccountAllotmentClassNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicGeneralAccountGroupName',
                params: { AllotmentClassID: AllotmentClassID }
            }).then(function (response) {
                $("#_GeneralAccountGroupID").html(response.data);
                F.LoadDynamicLGeneralAccountCode();
                F.LoadDynamicDDGeneralAccountMajorAccountGroupName();
            });
        }
        F.LoadDynamicDDGeneralAccountMajorAccountGroupName = function () {
            var AccountGroupID = $("#GeneralAccountAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicGeneralAccountMajorGroupName',
                params: { AccountGroupID: AccountGroupID }
            }).then(function (response) {
                $("#_GeneralMajorAccountID").html(response.data);
                F.LoadDynamicLGeneralAccountCode2();
                F.LoadDynamicDDGeneralAccountSubMajorAccountGroupName();
            });
        }
        F.LoadDynamicLGeneralAccountCode = function () {
            var AccountGroupID = $("#GeneralAccountAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetGeneralAccountCodeField',
                params: { AccountGroupID: AccountGroupID },
            }).then(function (response) {
                $("#_DynamicGeneralAccountCode1").html(response.data);
            });
        }
        F.LoadDynamicLGeneralAccountCode2 = function () {
            var MajorAccountGroupID = $("#GeneralAccountMajorAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetGeneralAccountCodeField2',
                params: { MajorAccountGroupID: MajorAccountGroupID },
            }).then(function (response) {
                $("#_DynamicGeneralAccountCode2").html(response.data);
            });
        }
        F.LoadDynamicLGeneralAccountCode3 = function () {
            var SubMajorAccountGroupID = $("#GeneralAccountSubMajorAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetGeneralAccountCodeField3',
                params: { SubMajorAccountGroupID: SubMajorAccountGroupID },
            }).then(function (response) {
                $("#_DynamicGeneralAccountCode3").html(response.data);
            });
        }
        F.LoadDynamicDDGeneralAccountSubMajorAccountGroupName = function () {
            var MajorAccountGroupID = $("#GeneralAccountMajorAccountGroupNameIDD").val();
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicGeneralAccountSubMajorGroupName',
                params: { MajorAccountGroupID: MajorAccountGroupID }
            }).then(function (response) {
                $("#_GeneralSubMajorAccountID").html(response.data);
                F.LoadDynamicLGeneralAccountCode3();
            });
        }
        F.LoadDynamicDDGeneralAccountName = function () {
            P({
                url: '/FileMaintenanceChartofAccount/GetDynamicGeneralAccountName',
            }).then(function (response) {
                $("#_GeneralAccountNameID").html(response.data);
            });
        }
        
    });
</script>
