
@{
    ViewBag.Title = "Chart of Accounts";
}
<script>
    $("#fchartofaccount").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Chart of Accounts</b></h3>
    </div>
</div>
<div class="card-content black" id="FMRevisonYearController" ng-controller="FMRevisonYearController" ng-init="RevisionYearTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-linetriangle">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" ng-click="RevisionYearTab()" aria-controls="tab1" href="#tab1" aria-expanded="true"><b>Revision Year</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" ng-click="AllotmentClassTab()" href="#tab2" aria-expanded="false"><b>Allotment Class</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" ng-click="AccountGroupTab()" aria-expanded="false"><b>Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab4" data-toggle="tab" aria-controls="tab4" href="#tab4" ng-click="MajorAccountGroupTab()" aria-expanded="false"><b>Major Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab5" data-toggle="tab" aria-controls="tab5" href="#tab5" ng-click="SubMajorAccountGroupTab()" aria-expanded="false"><b>Sub Major Account Group</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab6" data-toggle="tab" aria-controls="tab6" href="#tab6" ng-click="GeneralAccountGroupTab()" aria-expanded="false"><b>General Account</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab7" data-toggle="tab" aria-controls="tab7" href="#tab7" ng-click="SubsidiaryLedgerTab()" aria-expanded="false"><b>Subsidiary Ledger</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Revision Year *@
            <div role="tabpanel" class="tab-pane active" id="tab1" ng-bind-html="tab1" aria-expanded="true" aria-labelledby="base-tab1">

            </div>
            @* Allotment Class *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2" aria-labelledby="base-tab2">

            </div>
            @* Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" ng-bind-html="tab3" aria-labelledby="base-tab3">

            </div>
            @* Major Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab4" aria-expanded="true" ng-bind-html="tab4" aria-labelledby="base-tab4">

            </div>
            @* Sub Major Account Group *@
            <div role="tabpanel" class="tab-pane" id="tab5" aria-expanded="true" ng-bind-html="tab5" aria-labelledby="base-tab5">

            </div>
            @* General Account*@
            <div role="tabpanel" class="tab-pane" id="tab6" aria-expanded="true" ng-bind-html="tab6" aria-labelledby="base-tab6">

            </div>
            @* Subsidiary Ledger *@
            <div role="tabpanel" class="tab-pane" id="tab7" aria-expanded="true" ng-bind-html="tab7" aria-labelledby="base-tab7">

            </div>
        </div>
    </div>
</div>