<div class="content-body">
    <div class="card-block">
        <div class="card-body box-shadow-2">
            <div class="card-header bg-carheadercolor">
                <h4 class="card-title black"><b>Official Receipt/Cash Ticket Inventory</b></h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body box-shadow-2">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <select class="form-control" id="invtAFID" onchange="ShowSpecificInventoryAF($('#invtAFID').val())">
                                <option value="1">Official Receipt</option>
                                <option value="2">Cash Tickets</option>
                                <option value="3">Community Tax Certificate</option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <button class="btn bg-addbutton black"><b>View AF Details</b></button>
                        </div>
                    </div>
                </div>
            </div>
            @* Official Receipt *@
            <div id="DivOfficalReceipt">
                <div class="card-header bg-carheadercolor mt-1">
                    <h4 class="card-title black"><b>Official Receipt Details</b></h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body box-shadow-2">
                        <div class="card-body px-1 card-body rounded menubackground">
                            <div id="_ORDetailsID" class="font-weight-bold">

                            </div>
                        </div>
                        <div class="mt-1" id="_ORDetailsTableID">

                        </div>
                    </div>
                </div>
            </div>
            @* Cash Ticket *@
            <div id="DivCashTickets">
                <div class="card-header bg-carheadercolor mt-1">
                    <h4 class="card-title black"><b>Cash Ticket Details</b></h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body box-shadow-2">
                        <div class="card-body px-1 card-body rounded menubackground">
                            <div id="_CTDetailsID" class="font-weight-bold">

                            </div>
                        </div>
                        <div class="mt-1" id="_CTDetailsTableID">

                        </div>
                    </div>
                </div>
            </div>
            @* Community Tax Certificate *@
            <div id="DivCommunityTaxCertificate">
                <div class="card-header bg-carheadercolor mt-1">
                    <h4 class="card-title black"><b>Community Tax Certificate Details</b></h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body box-shadow-2">
                        <div class="card-body px-1 card-body rounded menubackground">
                            <div id="_CTCDetailsID" class="font-weight-bold">

                            </div>
                        </div>
                        <div class="mt-1" id="_CTCDetailsTableID">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        ShowSpecificInventoryAF();
    })
    function ShowSpecificInventoryAF() {
        var ID = $("#invtAFID").val();
        if (ID == 1) {
            HideAAFCard();
            $("#DivOfficalReceipt").removeClass("d-none");
        }
        else if (ID == 2) {
            HideAAFCard();
            $("#DivCashTickets").removeClass("d-none");
        }
        else {
            HideAAFCard();
            $("#DivCommunityTaxCertificate").removeClass("d-none");
        }
    }
    function HideAAFCard() {
        $("#DivOfficalReceipt").addClass("d-none");
        $("#DivCashTickets").addClass("d-none");
        $("#DivCommunityTaxCertificate").addClass("d-none");

    }

</script>