
@{
    ViewBag.Title = "Responsibility Center";
}
<script>
    $("#fmReposibilityCenter").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Responsibility Center</b></h3>
    </div>
</div>
<div class="card-content" id="FMDepartmentController" ng-controller="FMDepartmentController" ng-init="DepartmentTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" aria-controls="tab1" ng-click="DepartmentTab()" href="#tab1" aria-expanded="true"><b>Department</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" ng-click="FunctionTab()" aria-expanded="false"><b>Function</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" ng-click="SectionTab()" aria-expanded="false"><b>Section</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Department *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
              
            </div>
            @* Function *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2" aria-labelledby="base-tab2">
               

            </div>
            @* Section *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" ng-bind-html="tab3" aria-labelledby="base-tab3">
               
            </div>
        </div>
    </div>
</div>