
@{
    ViewBag.Title = "Responsibility Center";
}
<script>
    $("#fmReposibilityCenter").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Responsibility Center</b></h3>
    </div>
</div>
<div class="card-content" id="FMDepartmentController" ng-controller="FMDepartmentController" ng-init="DepartmentTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" aria-controls="tab1" ng-click="DepartmentTab()" href="#tab1" aria-expanded="true"><b>Department</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" ng-click="FunctionTab()" aria-expanded="false"><b>Function</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" ng-click="SectionTab()" aria-expanded="false"><b>Section</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Department *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
              
            </div>
            @* Function *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2" aria-labelledby="base-tab2">
               

            </div>
            @* Section *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" ng-bind-html="tab3" aria-labelledby="base-tab3">
               
            </div>
        </div>
    </div>
</div>
<script>

    @*View Adding of Position Modal*@
    app.controller('FMDepartmentController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.DepartmentTab = function () {
            F.tab1 = null;
            P({
                url: '/FileMaintenanceResponsibilityCenter/DepartmentTab',
            }).then(function (response) {
                F.tab1 = D(response.data);
                F.Get_DepartmentTable();
            });
        }
        F.FunctionTab = function () {
            F.tab2 = null;
            P({
                url: '/FileMaintenanceResponsibilityCenter/FunctionTab',
            }).then(function (response) {
                F.tab2 = D(response.data);
                F.Get_FunctionTable();
            });
        }
        F.SectionTab = function () {
            F.tab3 = null;
            P({
                url: '/FileMaintenanceResponsibilityCenter/SectionTab',
            }).then(function (response) {
                F.tab3 = D(response.data);
                F.Get_SectionTable();
            });
        }
        @* Message Box *@
        F.SuccessMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Added", SuccessMess);
        }
        F.UpdateMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Update", SuccessMess);
        }
        F.DeleteMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Deleted", SuccessMess);
        }

        //Department
        F.Get_DepartmentTable = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_DepartmentTable',
            }).then(function (response) {
                $("#DepartmentTableID").html(response.data);
                F.Get_AddDepartment();
                });
        }
        F.Get_AddDepartment = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_AddDepartment',
            }).then(function (response) {
                $("#DepartmentID").html(response.data);
                F.LoadDynamicDDFund();
                F.LoadDynamicDDSector();
                F.LoadDynamicDDOfficeType();
            });
        }
        F.LoadDynamicDDFund = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicFund',
            }).then(function (response) {
                $("#_DynamicFundID").html(response.data);
            });
        }
        F.LoadDynamicDDSector = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicSector',
            }).then(function (response) {
                $("#_DynamicSectorID").html(response.data);
                F.LoadDynamicDDSubSector();
            });
        }
        F.LoadDynamicDDSubSector = function () {
            var SectorID = $("#SectorNameIDD").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicSubSector',
                params: { SectorID: SectorID },
            }).then(function (response) {
                $("#_DynamicSubSectorID").html(response.data);
            });
        }
        F.LoadDynamicDDOfficeType = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicOfficeType',
            }).then(function (response) {
                $("#_DynamicOfficeTypeID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDFund = function () {
            var FundNameTempID = $("#FundNameTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSelectedDynamicFund',
                params: { FundNameTempID: FundNameTempID }
            }).then(function (response) {
                $("#_DynamicFundID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDSector = function () {
            var SectorNameTempID = $("#SectorNameTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSelectedDynamicSector',
                params: { SectorNameTempID: SectorNameTempID }
            }).then(function (response) {
                $("#_DynamicSectorID").html(response.data);
                F.LoadSelectedDynamicDDSubSector();
            });
        }
        F.LoadSelectedDynamicDDSubSector = function () {
            var SectorID = $("#SectorNameIDD").val();
            var SubSectorNameIDTempID = $("#SubSectorNameIDTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSelectedDynamicSubSector',
                params: { SectorID: SectorID, SubSectorNameIDTempID: SubSectorNameIDTempID},
            }).then(function (response) {
                $("#_DynamicSubSectorID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDOfficeType = function () {
            var OfficeTypeNameTempID = $("#OfficeTypeNameTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSelectedDynamicOfficeType',
                params: { OfficeTypeNameTempID: OfficeTypeNameTempID }
            }).then(function (response) {
                $("#_DynamicOfficeTypeID").html(response.data);
            });
        }
        F.Get_UpdateDepartment = function (DepartmentID) {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_UpdateDepartment',
                params: { DepartmentID: DepartmentID }
            }).then(function (response) {
                $("#DepartmentID").html(response.data);
                F.LoadSelectedDynamicDDFund();
                F.LoadSelectedDynamicDDSector();
                F.LoadSelectedDynamicDDOfficeType();
            });
        }
        F.Get_DeleteDepartment = function (DepartmentID) {
            P({
                url: '/FileMaintenanceResponsibilityCenter/DeleteDepartment',
                params: { DepartmentID: DepartmentID }
            }).then(function (response) {
                F.Get_DepartmentTable();
            });
        }

        //Function
        F.Get_FunctionTable = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_FunctionTable',
            }).then(function (response) {
                $("#_FunctionTableID").html(response.data);
                F.Get_AddFunction();
            });
        }
        F.Get_AddFunction = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_AddFunction',
            }).then(function (response) {
                $("#_FunctionID").html(response.data);
                F.LoadDynamicDDDepartment();
                F.LoadDynamicDDFunctionSector();
                F.LoadDynamicDDFOfficeType();
            });
        }
        F.LoadDynamicDDDepartment = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicDepartment',
            }).then(function (response) {
                $("#_DepartmentID").html(response.data);
                F.LoadDynamicLBFundName();
                F.LoadDynamicLBDepartmentCode();
                });
        }
        F.LoadSelectedDynamicDDDepartment = function () {
            var DepartmentTempID = $("#DepartmentTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicFunctionDepartment',
                params: { DepartmentTempID: DepartmentTempID }
            }).then(function (response) {
                $("#_DepartmentID").html(response.data);
                F.LoadDynamicLBFundName();
                F.LoadDynamicLBDepartmentCode();
            });
        }
        F.LoadDynamicLBFundName = function () {
            var DepartmentID = $("#DepartmentNameIDD").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetFundName',
                params: { DepartmentID: DepartmentID },
            }).then(function (response) {
                $("#_DynamicFundID1").html(response.data);
            });
        }
        F.LoadDynamicLBDepartmentCode = function () {
            var DepartmentID = $("#DepartmentNameIDD").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDeptOfficeCode',
                params: { DepartmentID: DepartmentID },
            }).then(function (response) {
                $("#_DynamicDepartmentCodeID").html(response.data);
            });
        }
        F.LoadDynamicDDFunctionSector = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicFunctionSector',
            }).then(function (response) {
                $("#_FunctionSectorNameID").html(response.data);
                F.LoadDynamicDDFunctionSubSector();
            });
        }
        F.LoadSelectedDynamicDDFunctionSector = function () {
            var SectorNameTempID = $("#SectorNameTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSelectedDynamicFunctionSector',
                params: { SectorNameTempID: SectorNameTempID }
            }).then(function (response) {
                $("#_FunctionSectorNameID").html(response.data);
                F.LoadSelectedDynamicDDFunctionSubSector();
            });
        }
        F.LoadSelectedDynamicDDFunctionSubSector = function () {
            var SectorID = $("#FunctionSectorNameIDD").val();
            var SubSectorNameIDTempID = $("#SubSectorNameIDTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSelectedDynamicFunctionSubSector',
                params: { SectorID: SectorID, SubSectorNameIDTempID: SubSectorNameIDTempID },
            }).then(function (response) {
                $("#_FunctionSubSectorNameID").html(response.data);
            });
        }
        F.LoadDynamicDDFunctionSubSector = function () {
            var SectorID = $("#FunctionSectorNameIDD").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicFunctionSubSector',
                params: { SectorID: SectorID },
            }).then(function (response) {
                $("#_FunctionSubSectorNameID").html(response.data);
            });
        }
        F.LoadDynamicDDFOfficeType = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetDynamicFunctionOfficeType',
            }).then(function (response) {
                $("#_FunctionOfficeTypeID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDFOfficeType = function () {
            var OfficeTypeNameTempID = $("#OfficeTypeNameTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSelectedDynamicOfficeType',
                params: { OfficeTypeNameTempID: OfficeTypeNameTempID },
            }).then(function (response) {
                $("#_FunctionOfficeTypeID").html(response.data);
            });
        }
        F.Get_UpdateFunction = function (FunctionID) {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_UpdateFunction',
                params: { FunctionID: FunctionID }
            }).then(function (response) {
                $("#_FunctionID").html(response.data);
                F.LoadSelectedDynamicDDDepartment();
                F.LoadSelectedDynamicDDFunctionSector();
                F.LoadSelectedDynamicDDFOfficeType();
            });
        }
        F.Get_DeleteFunction = function (FunctionID) {
            P({
                url: '/FileMaintenanceResponsibilityCenter/DeleteFunction',
                params: { FunctionID: FunctionID }
            }).then(function (response) {
                F.Get_FunctionTable();
            });
        }

        //Section
        F.Get_SectionTable = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_SectionTable',
            }).then(function (response) {
                $("#_SectionTableID").html(response.data);
                F.Get_AddSection();
            });
        }
        F.Get_AddSection = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_AddSection',
            }).then(function (response) {
                $("#_SectionID").html(response.data);
                F.LoadDynamicDDSectionDepartment();
            });
        }
        F.LoadDynamicDDSectionDepartment = function () {
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSectionDynamicDepartment',
            }).then(function (response) {
                $("#_SectionDepartmentID").html(response.data);

                F.LoadDynamicDDSectionFunction();
            });
        }
        F.LoadDynamicDDSectionFunction = function () {
            var DepartmentID = $("#SectionDepartmentNameIDD").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSectionDynamicFunction',
                params: { DepartmentID: DepartmentID },
            }).then(function (response) {
                $("#_SecctionFunctionID").html(response.data);
            });
        }
        F.Get_UpdateSection = function (SectionID) {
            P({
                url: '/FileMaintenanceResponsibilityCenter/Get_UpdateSection',
                params: { SectionID: SectionID }
            }).then(function (response) {
                $("#_SectionID").html(response.data);
                F.LoadSelectedDynamicDDSectionDepartment();
            });
        }
        F.LoadSelectedDynamicDDSectionDepartment = function () {
            var DepartmentTempID = $("#DepartmentTempID").val();
            P({
                url: '/FileMaintenanceResponsibilityCenter/GetSelectedSectionDynamicDepartment',
                params: { DepartmentTempID: DepartmentTempID },
            }).then(function (response) {
                $("#_SectionDepartmentID").html(response.data);
                F.LoadDynamicDDSectionFunction();
            });
        }
        F.Get_DeleteSection = function (SectionID) {
            P({
                url: '/FileMaintenanceResponsibilityCenter/DeleteSection',
                params: { SectionID: SectionID }
            }).then(function (response) {
                F.Get_SectionTable();
            });
        }
        });
</script>