
@model TOSS_UPGRADE.Models.FM_ResponsibilityCenter.FM_ResponsibilityCenter_Department
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label class="custom-form-margin mt-xl-2"><b>Office Type</b></label>
<span class="input-group-append" id="button-addon2">
    @Html.DropDownListFor(m => m.OfficeTypeNameID, Model.DepartmentList, new { @class = "form-control select2", id = "OfficeTypeIDD" })
    <button class="btn bg-addbutton" type="button" data-toggle="modal" data-target="#addOfficeTypeModal"><strong>+</strong></button>
</span>
<script>
    $(function () {
        $("#FundNameIDD").select2();
    })
</script>
