@model TOSS_UPGRADE.Models.FM_ResponsibilityCenter.FM_ResponsibilityCenter_Department
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label class="custom-form-margin mt-xl-2"><b>Fund</b></label>
    @Html.DropDownListFor(m => m.FundNameID, Model.DepartmentList, new { @class = "form-control select2", id = "FundNameIDD" })
 
<script>
    $(function () {
        $("#FundNameIDD").select2();
    })
</script>

