@model TOSS_UPGRADE.Models.FM_ResponsibilityCenter.FM_ResponsibilityCenter_Department
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label class="custom-form-margin mt-xl-2"><b>Sector</b></label>
<span class="input-group-append" id="button-addon2">
    @Html.DropDownListFor(m => m.SectorNameID, Model.DepartmentList, new { @class = "form-control select2", id = "SectorNameIDD", onchange = "AngularGlobalFunctions('FMDepartmentController','LoadDynamicDDSubSector','')" })
    <button class="btn bg-addbutton" type="button" data-toggle="modal" data-target="#addSectorModal" ng-click="Get_SectorTables2()"><strong>+</strong></button>
</span>
<script>
    $(function () {
        $("#SectorNameIDD").select2();
    })
</script>
