@model TOSS_UPGRADE.Models.FM_ResponsibilityCenter.FM_ResponsibilityCenter_Department
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="form-group">
    <label class="custom-form-margin mt-xl-2"><b>Sub Sector</b></label>
        @Html.DropDownListFor(m => m.SubSectorNameID, Model.DepartmentList, new { @class = "form-control select2", id = "SubSectorID" })

</div>

<script>
    $(function () {
        LoadICheck();
    })
</script>
