@model TOSS_UPGRADE.Models.FM_Sectors.FM_Sector
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<label class="black"><b>Sector Code</b></label>

@*@Html.TextBoxFor(m => m.SubsectorCodeID, new { @class = "text-left form-control black font-weight-bold", type = "text", id = "SectorCode" })*@
@Html.TextBoxFor(m => m.SubsectorCodeID, new { @class = "accntCode black text-right font-weight-bold", type = "text", id = "SectorCode", @disabled = "disabled" })                                                            