<div class="content-body">
    <div class="row black">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="SubSectorID">

        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="SubSectorTableID">

        </div>
    </div>
</div>
