
@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableFormAssignment
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<label>Accountable Form</label>
@Html.DropDownListFor(m => m.AccountableFormAssignmentAFID, Model.AccountableFormAssignmentList.Distinct(), new { @class = "form-control select2", id = "AFIDDDASFCT", onchange = "AngularGlobalFunctions('FMAccountableFormController','LoadDynamicASFStartCTNo','')" })




