
@{
    ViewBag.Title = "Position";
}
<script>
    $("#fposition").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Position</b></h3>
    </div>
</div>

<div class="row black" id="FMPositionController" ng-controller="FMPositionController" ng-init="InitAllFunction();">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card box-shadow-2">
            <div class="card-header bg-carheadercolor">
                <h4 class="card-title black"><b>Position</b></h4>
            </div>
            <div class="card-body box-shadow-2">
                <div id="PositionID">

                </div>
                <div class="row mt-1" id="_PositionTableID">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    @*View Adding of Position Modal*@
    app.controller('FMPositionController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.InitAllFunction = function () {
            F.Get_PositionTable();
        }
        @* Message Box *@
        F.SuccessMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Added", SuccessMess);
        }
        F.UpdateMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Update", SuccessMess);
        }
        F.DeleteMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Deleted", SuccessMess);
        }

        F.Get_PositionTable = function () {
            P({
                url: '/FileMaintenancePosition/Get_PositionTable',
            }).then(function (response) {
                $("#_PositionTableID").html(response.data);
                F.Get_AddPosition();
                });
        }
        F.Get_AddPosition = function () {
            P({
                url: '/FileMaintenancePosition/Get_AddPosition',
            }).then(function (response) {
                $("#PositionID").html(response.data);
                });

        }
        F.Get_UpdatePosition = function (PositionID) {
            P({
                url: '/FileMaintenancePosition/Get_UpdatePosition',
                params: { PositionID: PositionID }
            }).then(function (response) {
                $("#PositionID").html(response.data);
                });
        }
        F.Get_DeletePosition = function (PositionID) {
            P({
                url: '/FileMaintenancePosition/DeletePosition',
                params: { PositionID: PositionID }
            }).then(function (response) {
                F.Get_PositionTable();
            });
        }
        });
</script>
