
@{
    ViewBag.Title = "Position";
}
<script>
    $("#fposition").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Position</b></h3>
    </div>
</div>

<div class="row black" id="FMPositionController" ng-controller="FMPositionController" ng-init="InitAllFunction();">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card box-shadow-2">
            <div class="card-body box-shadow-2">
                <div class="card-body px-1 card-body rounded menubackground">
                    <div id="PositionID">

                    </div>
                    </div>
                    <div class="row mt-1" id="_PositionTableID">
                    </div>
                </div>
            </div>
    </div>
</div>
