@{
    ViewBag.Title = "Office Type";
}
<script>
    $("#fmOfficeType").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Office Type</b></h3>
    </div>
</div>
<div class="row black" id="FMOfficeTypeController" ng-controller="FMOfficeTypeController" ng-init="InitAllFunction();">
    <div class="col-md-12">
        <div class="card box-shadow-2">
            <div class="card-body box-shadow-2">
                <div id="_OfficeTypeID">

                </div>
                <div class="row">
                    <div class="col-md-2 form-group">
                    </div>
                    <div class="col-md-8" id="_OfficeTypeTableID">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    @*Angular Function*@
    app.controller('FMOfficeTypeController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.InitAllFunction = function () {
            //Internal Revenue Allotment Table
            F.Get_OfficeTypeTable();
        }
        @* Message Box *@
        F.SuccessMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Added", SuccessMess);
        }
        F.UpdateMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Update", SuccessMess);
        }
        F.DeleteMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Deleted", SuccessMess);
        }
        //Internal Revenue Allotment Share
        F.Get_OfficeTypeTable = function () {
            P({
                url: '/FileMaintenanceOfficeType/Get_OfficeTypeTable',
            }).then(function (response) {
                $("#_OfficeTypeTableID").html(response.data);
            });
            F.Get_AddOfficeType();
        }
        F.Get_AddOfficeType = function () {
            P({
                url: '/FileMaintenanceOfficeType/Get_AddOfficeType',
            }).then(function (response) {
                $("#_OfficeTypeID").html(response.data);
            });
        }
        F.Get_UpdateOfficeType = function (OfficeTypeID) {
            P({
                url: '/FileMaintenanceOfficeType/Get_UpdateOfficeType',
                params: { OfficeTypeID: OfficeTypeID }
            }).then(function (response) {
                $("#_OfficeTypeID").html(response.data);
            });
        }
        F.Get_DeleteOfficeType = function (OfficeTypeID) {
            P({
                url: '/FileMaintenanceOfficeType/DeleteOfficeType',
                params: { OfficeTypeID: OfficeTypeID }
            }).then(function (response) {
                F.Get_OfficeTypeTable();
            });
        }
    });
</script>