@{
    ViewBag.Title = "Office Type";
}
<script>
    $("#fmOfficeType").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Office Type</b></h3>
    </div>
</div>
<div class="row black" id="FMOfficeTypeController" ng-controller="FMOfficeTypeController" ng-init="InitAllFunction();">
    <div class="col-md-12">
        <div class="card box-shadow-2">
            <div class="card-body box-shadow-2">
                <div class="card-body px-1 card-body rounded menubackground">
                    <div id="_OfficeTypeID">

                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-2 form-group">
                    </div>
                    <div class="col-md-8" id="_OfficeTypeTableID">

                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
