@{
    ViewBag.Title = "Barangay";
}
<script>
    $("#fmBarangay").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Barangay</b></h3>
    </div>
</div>

<div class="card-content black" id="FMBarangayController" ng-controller="FMBarangayController" ng-init="BarangayNameTab();">
        <div class="card">
            <ul class="nav nav-tabs bg-headerbc nav-underline">
                <li class="nav-item">
                    <a class="nav-link active" id="base-tab1" data-toggle="pill" aria-controls="tab1" ng-click="BarangayNameTab()"  href="#tab1" aria-expanded="true"><b>Barangay Name</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" ng-click="BarangayCollectorTab()"  aria-expanded="false"><b>Barangay Collector</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" ng-click="BarangayBankAccountTab()"  aria-expanded="false"><b>Barangay Bank Account</b></a>
                </li>
            </ul>
            <div class="tab-content px-1 pt-1">
                @* Barangay Name *@
                <div role="tabpanel" class="tab-pane active black" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
                   
                </div>
                @* Barangay Collector *@
                <div role="tabpanel" class="tab-pane black" id="tab2" aria-expanded="true" ng-bind-html="tab2" aria-labelledby="base-tab2">
                  
                </div>
                @* Barangay Bank Account *@
                <div role="tabpanel" class="tab-pane black" id="tab3" aria-expanded="true" ng-bind-html="tab3" aria-labelledby="base-tab3">
                    
                </div>
            </div>
        </div>
    </div>
    <script>
    @* Angular Function *@
    app.controller('FMBarangayController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.BarangayNameTab = function () {
            F.tab1 = null;
            P({
                url: '/FileMaintenanceBarangay/BarangayNameTab',
            }).then(function (response) {
                F.tab1 = D(response.data);
                F.Get_BarangayNameTable();
            });
        }
        F.BarangayCollectorTab = function () {
            F.tab2 = null;
            P({
                url: '/FileMaintenanceBarangay/BarangayCollectorTab',
            }).then(function (response) {
                F.tab2 = D(response.data);
                F.Get_BarangayCollectorNameTable();
            });
        }
        F.BarangayBankAccountTab = function () {
            F.tab3 = null;
            P({
                url: '/FileMaintenanceBarangay/BarangayBankAccountTab',
            }).then(function (response) {
                F.tab3 = D(response.data);
                F.Get_BarangayBankAccountTable();
            });
        }

        //Barangay
        //Barangay Name
        F.Get_BarangayNameTable = function () {
            P({
                url: '/FileMaintenanceBarangay/Get_BarangayNameTable',
            }).then(function (response) {
                $("#_BarangayNameTableID").html(response.data);
            });
            F.Get_AddBarangayName();
        }
        F.Get_AddBarangayName = function () {
            P({
                url: '/FileMaintenanceBarangay/Get_AddBarangayName',
            }).then(function (response) {
                $("#_BarangayNameID").html(response.data);
            });
        }
        F.Get_UpdateBarangayName = function (BarangayID) {
            P({
                url: '/FileMaintenanceBarangay/Get_UpdateBarangayName',
                params: { BarangayID: BarangayID }
            }).then(function (response) {
                $("#_BarangayNameID").html(response.data);
            });
        }
        F.Get_DeleteBarangayName = function (BarangayID) {
            P({
                url: '/FileMaintenanceBarangay/DeleteBarangayName',
                params: { BarangayID: BarangayID }
            }).then(function (response) {
                F.Get_BarangayNameTable();
            });
        }


        //Barangay Collector
        F.Get_BarangayCollectorNameTable = function () {
            P({
                url: '/FileMaintenanceBarangay/Get_BarangayCollectorTable',
            }).then(function (response) {
                $("#_BarangayCollectorTableID").html(response.data);
            });
            F.Get_AddCollectorName();
        }
        F.Get_AddCollectorName = function () {
            P({
                url: '/FileMaintenanceBarangay/Get_AddCollectorName',
            }).then(function (response) {
                $("#_BarangayCollectorID").html(response.data);
            });
        }
        F.Get_UpdateCollectorName = function (BarangayCollectorID) {
            P({
                url: '/FileMaintenanceBarangay/Get_UpdateCollectorName',
                params: { BarangayCollectorID: BarangayCollectorID }
            }).then(function (response) {
                $("#_BarangayCollectorID").html(response.data);
            });
        }
        F.Get_DeleteCollectorName = function (BarangayCollectorID) {
            P({
                url: '/FileMaintenanceBarangay/DeleteCollectorName',
                params: { BarangayCollectorID: BarangayCollectorID }
            }).then(function (response) {
                F.Get_BarangayCollectorNameTable();
            });
        }

        //Barangay Bank Account

        F.Get_BarangayBankAccountTable = function () {
            P({
                url: '/FileMaintenanceBarangay/Get_BarangayBankAccountTable',
            }).then(function (response) {
                $("#_BarangayBankAccountTableID").html(response.data);
            });
            F.Get_AddBarangayBankAccount();
        }
        F.Get_AddBarangayBankAccount = function () {
            P({
                url: '/FileMaintenanceBarangay/Get_AddBarangayBankAccount',
            }).then(function (response) {
                $("#_BarangayBankAccountID").html(response.data);
                F.LoadDynamicDDBankName();
                F.LoadDynamicDDBarangayName();
            });
        }
        F.LoadDynamicDDBarangayName = function () {
            P({
                url: '/FileMaintenanceBarangay/GetDynamicBarangayName',
            }).then(function (response) {
                $("#_DynamicBarangayNameID").html(response.data);
            });
        }
        F.LoadDynamicDDBankName = function () {
            P({
                url: '/FileMaintenanceBarangay/GetDynamicBarangayBankName',
            }).then(function (response) {
                $("#_DynamicBankID").html(response.data);
                F.LoadDynamicDDBankAccountNumber();
            });
        }
        F.LoadDynamicDDBankAccountNumber = function () {
            var BankID = $("#BarangayBankIDD").val();
            P({
                url: '/FileMaintenanceBarangay/GetDynamicBarangayBankAccountNumber',
                params: { BankID: BankID }
            }).then(function (response) {
                $("#_DynamicAccountNo").html(response.data);
            });
        }
        F.Get_UpdateBarangayBankAccount = function (BarangayBankAccountID) {
            P({
                url: '/FileMaintenanceBarangay/Get_UpdateBarangayBankAccount',
                params: { BarangayBankAccountID: BarangayBankAccountID }
            }).then(function (response) {
                $("#_BarangayBankAccountID").html(response.data);
                F.LoadSelectedDynamicDDBarangayName();
                F.LoadSelectedDynamicDDBankName();
            });
        }
        F.LoadSelectedDynamicDDBarangayName = function () {
            var BarangayTempID = $("#BarangayTempID").val();
            P({
                url: '/FileMaintenanceBarangay/GetSelectedDynamicBarangayName',
                params: { BarangayTempID: BarangayTempID }
            }).then(function (response) {
                $("#_DynamicBarangayNameID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDBankName = function () {
            var BankTempID = $("#BankTempID").val();
            P({
                url: '/FileMaintenanceBarangay/GetSelectedDynamicBarangayBankName',
                params: { BankTempID: BankTempID }
            }).then(function (response) {
                $("#_DynamicBankID").html(response.data);
                F.LoadSelectedDynamicDDBankAccountNumber();
            });
        }
        F.LoadSelectedDynamicDDBankAccountNumber = function () {
            var BankID = $("#BarangayBankIDD").val();
            var AccountNumberTempID = $("#AccountNumberTempID").val();
            P({
                url: '/FileMaintenanceBarangay/GetSelectedDynamicBarangayBankAccountNumber',
                params: { BankID: BankID, AccountNumberTempID: AccountNumberTempID }
            }).then(function (response) {
                $("#_DynamicAccountNo").html(response.data);
            });
        }
        F.Get_DeleteBankAccount = function (BarangayBankAccountID) {
            P({
                url: '/FileMaintenanceBarangay/DeleteBarangayBankAccount',
                params: { BarangayBankAccountID: BarangayBankAccountID }
            }).then(function (response) {
                F.Get_BarangayBankAccountTable();
            });
        }
    });
    </script>
