
<div class="row form-group">
    <div class="col-md-3">
        <label>Collecting Officer</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
    <div class="col-md-3">
        <label>OR Type</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
    <div class="col-md-3">
        <label>Accountable Forms</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
    <div class="col-md-3">
        <label>Starting OR</label>
        <select class="form-control">
            <option></option>
        </select>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3">
        <label>Stub No</label>
        <input type="text" class="form-control" disabled />
    </div>
    <div class="col-md-3">
        <label>Ending OR</label>
        <input type="text" class="form-control" disabled />
    </div>
    <div class="col-md-3">
        <label>Quantity</label>
        <input type="text" class="form-control" disabled />
    </div>
    <div class="col-md-3">
        <label>Date Issued</label>
        <input type="text" class="form-control pickadate" />
    </div>
</div>
<div class="row form-group">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <button class="btn bg-addbutton black pull-right form-control"><b>Add</b></button>
    </div>
</div>
