
@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableForm
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
@using (Ajax.BeginForm("AddAccountableForm", "FileMaintenanceAccountableForm", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModal('FMAccountableFormController','Get_AccountableFormTable','Accountable Form Successfully Saved')", OnFailure = "OnFailure()", }))
{
    <div class="row black">
        <div class="col-md-5 form-group">
            <label><b>Bank Name</b></label>
            <input type="text" class="form-control" placeholder="Enter Bank Name" />
        </div>
        <div class="col-md-2 pl-0 form-group">
            <label><b>Bank Code</b></label>
            <input type="text" class="form-control" placeholder="Enter Bank Code" />
        </div>
        <div class="col-md-5 pl-0 form-group">
            <label><b>Bank Address</b></label>
            <input type="text" class="form-control" placeholder="Enter Bank Address" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <button class="btn bg-addbutton form-control black"><b>Add</b></button>
        </div>
        <div class="col-md-2">
            <button class="btn bg-headerbc form-control white"><b>Cancel</b></button>
        </div>
    </div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>
