@model TOSS_UPGRADE.Models.FM_ChartOfAccounts.FM_ChartOfAccounts_GeneralAccount
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<label class="mt-1"><b>Sub Major Account Group</b></label>
@Html.DropDownListFor(m => m.SubMajorAccountGroupNameID, Model.GeneralAccountList, new { @class = "form-control select2", id = "GeneralAccountSubMajorAccountGroupNameIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMRevisonYearController','LoadDynamicLGeneralAccountCode3','')" })


