@model TOSS_UPGRADE.Models.FM_ChartOfAccounts.FM_ChartOfAccounts_GeneralAccount
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label><b>Revision Year</b></label>
@Html.DropDownListFor(m => m.RevisionYearDate, Model.GeneralAccountList, new { @class = "form-control select2", id = "GeneralAccountRevisionYearNameIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMRevisonYearController','LoadDynamicDDGeneralAccountAllotmentClass','')" })


