
@model TOSS_UPGRADE.Models.FM_ChartOfAccounts.FM_ChartOfAccounts_GeneralAccount
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<label><b>Major Account Group</b></label>
@Html.DropDownListFor(m => m.MajorAccountGroupNameID, Model.GeneralAccountList, new { @class = "form-control select2", id = "GeneralAccountMajorAccountGroupNameIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMRevisonYearController','LoadDynamicLGeneralAccountCode2','LoadDynamicDDGeneralAccountSubMajorAccountGroupName')" })

