@model TOSS_UPGRADE.Models.FM_ChartOfAccounts.FM_ChartOfAccounts_GeneralAccount
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<label><b>Allotment Class</b></label>
@Html.DropDownListFor(m => m.AllotmentClassID, Model.GeneralAccountList, new { @class = "form-control select2", id = "GeneralAccountAllotmentClassNameIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMRevisonYearController','LoadDynamicDDGeneralAccountGroupName','')" })

@*<script>
        $(function () {
            $("#RevisionYearNameIDD").select2();
        })
    </script>*@

