<table class="table table-striped zero-configuration table-bordered table-responsive text-center table-smss-hover no-footer m-0 w-100">
    <thead class="text-center">
        <tr>
            <th>Revision Year</th>
            <th>Allotment Class</th>
            <th>Accounts</th>
            <th>Major Account Group</th>
            <th>Sub Major Account Group</th>
            <th>General Account</th>
            <th>Account Code</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>2015</td>
            <td>N / A</td>
            <td>Asset</td>
            <td>Property, Plant and Equipment</td>
            <td>Land</td>
            <td>Land</td>
            <td>1-07-01-010</td>
            <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
        </tr>
        <tr>
            <td>2015</td>
            <td>N / A</td>
            <td>Liabilities</td>
            <td>Financial Liabilities</td>
            <td>Payables</td>
            <td>Accounts Payables</td>
            <td>2-01-01-10</td>
            <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
        </tr>
        <tr>
            <td>2015</td>
            <td>N / A</td>
            <td>Equity</td>
            <td>Government Equity</td>
            <td>Government Equity</td>
            <td>Prior Period Adjustment</td>
            <td>3-01-01-020</td>
            <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
        </tr>
        <tr>
            <td>2015</td>
            <td>N / A</td>
            <td>Income</td>
            <td>Tax Revenue</td>
            <td>Tax Revenue - Individual and Corporation</td>
            <td>Professinal Tax</td>
            <td>4-01-01-020</td>
            <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
        </tr>
        <tr>
            <td>2015</td>
            <td>Personal Service</td>
            <td>Expenses</td>
            <td>Personnel Services</td>
            <td>Salaries and Wages</td>
            <td>Salaries and Wages - Regular</td>
            <td>5-01-01-10</td>
            <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
        </tr>
    </tbody>
</table>

