<div class="content-body">
    <div class="row"><div class="card-body px-1 card-body rounded menubackground">
    <div class="col-md-12" id="_GeneralAccountID">

    </div>
    </div>
</div>
    <div class="row mt-1">
        <div class="col-md-12" id="_GeneralAccountTableID">
        </div>
    </div>
</div>
