@{
    ViewBag.Title = "Internal Revenue Allotment Share";
}
<script>
    $("#firashare").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-8 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Internal Revenue Allotment Share</b></h3>
    </div>
</div>
<div class="row black" id="FMIRAController" ng-controller="FMIRAController" ng-init="InitAllFunction();">
    <div class="col-12 col-xl-12 ">
        <div class="card box-shadow-2">
            <div class="card-body box-shadow-3">
                <div class="card-body px-1 card-body rounded menubackground">
                    <div id="_IraID">

                    </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" id="_IraTableID">

                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>
<script>

    @*Angular Function*@
    app.controller('FMIRAController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.InitAllFunction = function () {
            //Internal Revenue Allotment Table
            F.Get_InternalRevenueAllotmentTable();
        }
        @* Message Box *@
        F.SuccessMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Added", SuccessMess);
        }
        F.UpdateMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Update", SuccessMess);
        }
        F.DeleteMessageBox = function () {
            var SuccessMess = F.P;
            swalSuccess("Successfully Deleted", SuccessMess);
        }
        //Internal Revenue Allotment Share
        F.Get_InternalRevenueAllotmentTable = function () {
            P({
                url: '/FileMaintenanceIRAShare/Get_InternalRevenueAllotmentTable',
            }).then(function (response) {
                $("#_IraTableID").html(response.data);
            });
           F.Get_AddInternalRevenueAllotment();
        }
        F.Get_AddInternalRevenueAllotment = function () {
            P({
                url: '/FileMaintenanceIRAShare/Get_AddInternalRevenueAllotmentTable',
            }).then(function (response) {
                $("#_IraID").html(response.data);
            });
        }
        F.Get_UpdateInternalRevenueAllotment = function (IRAID) {
            P({
                url: '/FileMaintenanceIRAShare/Get_UpdateInternalRevenueAllotment',
                params: { IRAID: IRAID }
            }).then(function (response) {
                $("#_IraID").html(response.data);
            });
        }
        F.Get_DeleteInternalRevenueAllotment = function (IRAID) {
            P({
                url: '/FileMaintenanceIRAShare/DeleteInternalRevenueAllotment',
                params: { IRAID: IRAID }
            }).then(function (response) {
                F.Get_InternalRevenueAllotmentTable();
            });
        }
    });
</script>
