<div class="content-body">
    <div class="row">
        <div class="col-md-12" @*id="DepartmentxID"*@>
            <div class="row black">
                <div class="col-md-3">
                    <label class="mt-1"><b>Revision Year</b></label>
                    <select class="form-control">
                        <option>2015</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="mt-1"><b>Allotment Class</b></label>
                    <select class="form-control">
                        <option>Maintenance and Other Operating Expenses</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="mt-1"><b>Accounts</b></label>
                    <select class="form-control">
                        <option>Asset</option>
                    </select>
                </div>
            </div>
            <div class="row black">
                <div class="col-md-4">
                    <label class="mt-1"><b>Major Account Group</b></label>
                    <select class="form-control">
                        <option>Cash</option>
                        <option>Financial Liabilities</option>
                        <option>Government Equity</option>
                        <option>Tax Revenue</option>
                        <option>Personnel Services</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="mt-1"><b>Sub Major Account Group</b></label>
                    <input type="text" class="form-control" name="name" value="" />
                </div>
                <div class="col-md-4 mt-1">
                    <label><b>Account Code</b></label>
                    <div class="input-group mt-0">
                        <span class="input-group-addon" id="basic-addon1"><b>1 - 01 -</b></span>
                        <input type="text" class="form-control" name="name" value="" />
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <button type="submit" class="btn bg-addbutton form-control black" onclick="reload">
                        <b>Add</b>
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="reset" class="btn bg-headerbc form-control white">
                        <b>Cancel</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1" @*id="DepartmentTableID"*@>
        <div class="col-md-12">
            <table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
                <thead class="text-center">
                    <tr>
                        <th>Revision Year</th>
                        <th>Allotment Class</th>
                        <th>Accounts</th>
                        <th>Major Account Group</th>
                        <th>Sub Major Account Group</th>
                        <th>Account Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>2015</td>
                        <td>Capital Outlay</td>
                        <td>Asset</td>
                        <td>Property, Plant and Equipment</td>
                        <td>Land</td>
                        <td>1-07-01</td>
                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>N / A</td>
                        <td>Liabilities</td>
                        <td>Financial Liabilities</td>
                        <td>Payables</td>
                        <td>2-01-01</td>
                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>N / A</td>
                        <td>Equity</td>
                        <td>Government Equity</td>
                        <td>Government Equity</td>
                        <td>3-01-01</td>
                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>N / A</td>
                        <td>Income</td>
                        <td>Tax Revenue</td>
                        <td>Tax Revenue - Individual and Corporation</td>
                        <td>4-01-01</td>
                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>Personal Service</td>
                        <td>Expenses</td>
                        <td>Personnel Services</td>
                        <td>Salaries and Wages</td>
                        <td>5-01-01</td>
                        <td><button type="button" class="btn btn-sm btn-icon center bg-headerbc" onfocusout="ClosePopOver1()" data-toggle="popoverSignatories" data-placement="left" data-conztainer="body" data-original-title=""> <i class="la la-reorder"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
