<div class="content-body">
    <div class="card-block">
        <div class="card-body box-shadow-2">
            <div class="card-header bg-carheadercolor">
                <h4 class="card-title black"><b>Official Receipt/Cash Ticket Assignment</b></h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body box-shadow-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 pr-0 form-group">
                                    <label><input type="radio" name="optradio" checked><b>Treasurer's Collection</b></label>
                                </div>
                                <div class="col-md-2 px-0 form-group">
                                    <label><input type="radio" name="optradio"><b>Field Collectors</b></label>
                                </div>
                                <div class="col-md-2 px-0 form-group">
                                    <label><input type="radio" name="optradio"><b>Cash Tickets</b></label>
                                </div>
                                <div class="col-md-4 px-0 form-group">
                                    <label><input type="radio" name="optradio"><b>Community Tax Certificate Collectors</b></label>
                                </div>
                                <div class="col-md-1 px-0 form-group">
                                    <label><input type="radio" name="optradio"><b>PATAS</b></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="DivTreasurerORAssignment">
                <div class="card-header bg-carheadercolor mt-1">
                    <h4 class="card-title black"><b>Treasurer's OR Details</b></h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body box-shadow-2">
                        <div class="card-body px-1 card-body rounded menubackground">
                            <div id="_TreasurerCollectionID" class="font-weight-bold">

                            </div>
                        </div>
                        <div class="mt-1" id="_TreasurerCollectionTableID">

                        </div>
                    </div>

                </div>
            </div>
            @* Transfer / Return Modal *@
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="modal animated zoomIn text-left" id="addTransferReturnModal" role="dialog">
                    <div class="modal-dialog" style="max-width:1290px" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-headerbc white">
                                <h6 class="modal-title white"><i class="la la-plus mr-1"></i><b>Transfer / Return OR Series</b></h6>
                                <button class="btn bg-headerbc pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
                            </div>
                            <div class="modal-body skin skin-square">
                                <div class="row">
                                    <div class="col-md-12" id="_TransferReturnORID">

                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-12" id="_TransferReturnORTableID">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
