<div class="content-body">
    <div class="card-block">
        <div class="card-body box-shadow-2">
            <div class="card-header bg-carheadercolor">
                <h4 class="card-title black"><b>Official Receipt/Cash Ticket Assignment</b></h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body box-shadow-2">
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <select class="form-control" id="AssignAFID" onchange="ShowSpecificAssign($('#AssignAFID').val())">
                                <option value="1">Treasurer Collection</option>
                                <option value="2">Field Collectors</option>
                                <option value="3">Cash Tickets</option>
                                <option value="4">Barangay Collectors</option>
                                <option value="5">Community Tax Certificate Collectors</option>
                                <option value="6">BPLS</option>
                                <option value="7">PATAS</option>
                            </select>
                        </div>
                    </div>
                    @* Treasurer's Collection Div *@
                    <div id="DivTreasurerORASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Treasurer's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                <div id="_TreasurerCollectionID" class="font-weight-bold ">

                                </div>
                            </div>
                            <div class="mt-1" id="_TreasurerCollectionTableID">

                            </div>

                        </div>
                    </div>
                    @* Transfer / Return Modal *@
                    <div class="col-lg-8 col-md-8 col-sm-12 center">
                        <div class="modal animated zoomIn text-left" id="addTransferReturnModal" role="dialog">
                            <div class="modal-dialog" style="max-width:1320px" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-headerbc white">
                                        <h6 class="modal-title white"><i class="la la-plus mr-1"></i><b>Field Collector OR Details</b></h6>
                                        <button class="btn bg-headerbc pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
                                    </div>
                                    <div class="modal-body skin skin-square">
                                        <div class="row">
                                            <div class="col-md-12" id="_TransferReturnORID">

                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-md-12" id="_TransferReturnORTableID">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Field Collectors *@
                    <div id="DivFieldCollectorASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Field Collector's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* Field Collection Partial View *@
                                <div id="_FieldCollectionID" class="font-weight-bold">

                                </div>
                            </div>
                            @* Treasurer Collection Partial View Table *@
                            <div id="_FieldCollectionTableID" class="mt-1">

                            </div>
                        </div>
                    </div>
                    @* Cash Tickets *@
                    <div id="DivCashTicketASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Cash Ticket's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* Cash Ticket Collection Partial View *@
                                <div class="font-weight-bold" id="_CashTicketID">

                                </div>
                            </div>
                            @* Cash Ticket Collection Partial View Table *@
                            <div class="mt-1" id="_CastTicketTableID">
                            </div>
                        </div>
                    </div>
                    @* Barangay Collectors *@
                    <div id="DivBrgyCollectorASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Barangay Collector's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* Barangay Collectors Partial View *@
                                <div class="font-weight-bold" id="_BrgyCollectorID">

                                </div>
                            </div>
                            @* Barangay Collectors Partial View Table *@
                            <div class="mt-1" id="_BrgyCollectorTableID">
                            </div>
                        </div>
                    </div>
                    @* CTC Collectors *@
                    <div id="DivCTCCollectorASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Community Tax Certificate Collector's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* Community Tax Certificate Collectors Partial View *@
                                <div class="font-weight-bold" id="_CTCCollectorID">

                                </div>
                            </div>
                            @* Community Tax Certificate Collectors Partial View Table *@
                            <div class="mt-1" id="_CTCCollectorTableID">

                            </div>
                        </div>
                    </div>
                    @* BPLS *@
                    <div id="DivBPLS">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>BPLS's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* BPLS Partial View *@
                                <div class="font-weight-bold" id="_BPLSID">
                                </div>
                            </div>
                            @* BPLS Partial View Table *@
                            <div class="mt-1" id="_BPLSTableID">

                            </div>
                        </div>
                    </div>
                    @* PATAS *@
                    <div id="DivPATAS">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>PATAS's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* PATAS Partial View *@
                                <div class="font-weight-bold" @*id="_CTCCollectorID"*@>
                                    <div class="row form-group">
                                        <div class="col-md-3">
                                            <label>Collecting Officer</label>
                                            <select class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Accountable Forms</label>
                                            <select class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Starting OR</label>
                                            <select class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Date Issued</label>
                                            <input type="text" class="form-control pickadate" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3">
                                            <label>Stub No</label>
                                            <input type="text" class="form-control" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Ending OR</label>
                                            <input type="text" class="form-control" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Quantity</label>
                                            <input type="text" class="form-control" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label style="visibility:hidden">Quantity</label>
                                            <button class="btn bg-addbutton black pull-right form-control"><b>Add</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* PATAS Partial View Table *@
                            <div class="mt-1" @*id="_CTCCollectorTableID"*@>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-responsive zero-configuration table-bordered text-center scroll-horizontal table-smss-hover no-footer m-0 w-100">
                                            <thead>
                                                <tr>
                                                    <th>Collector</th>
                                                    <th>OR Description</th>
                                                    <th>Date Acquired</th>
                                                    <th>Stub No.</th>
                                                    <th>Starting OR</th>
                                                    <th>Ending OR</th>
                                                    <th>Quantity</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        ShowSpecificAssign();
    })
    function ShowSpecificAssign() {
        var ID = $("#AssignAFID").val();
        if (ID == 1) {
            HideAAFCard();
            $("#DivTreasurerORASF").removeClass("d-none");
            AngularGlobalFunctions('FMAccountableFormController', 'Get_AccountableFormAssignmentTable');
        }
        else if (ID == 2) {
            HideAAFCard();
            $("#DivFieldCollectorASF").removeClass("d-none");
            AngularGlobalFunctions('FMAccountableFormController', 'Get_AccountableFormAssignmentFCTable');
        }
        else if (ID == 3) {
            HideAAFCard();
            $("#DivCashTicketASF").removeClass("d-none");
            AngularGlobalFunctions('FMAccountableFormController', 'Get_AFAssignmentCashTicketTable');
        }
        else if (ID == 4) {
            HideAAFCard();
            $("#DivBrgyCollectorASF").removeClass("d-none");
            AngularGlobalFunctions('FMAccountableFormController', 'Get_AFAssignmentBrgyCollectorTable');
        }
        else if (ID == 5) {
            HideAAFCard();
            $("#DivCTCCollectorASF").removeClass("d-none");
            AngularGlobalFunctions('FMAccountableFormController', 'Get_AFAssignmentCTCCollectorTable');
        }
        else if (ID == 6) {
            HideAAFCard();
            $("#DivBPLS").removeClass("d-none");
            AngularGlobalFunctions('FMAccountableFormController', 'Get_AFAssignmentBPLSTable');
        }
        else {
            HideAAFCard();
            $("#DivPATAS").removeClass("d-none");
        }
    }
    function HideAAFCard() {
        $("#DivTreasurerORASF").addClass("d-none");
        $("#DivFieldCollectorASF").addClass("d-none");
        $("#DivCashTicketASF").addClass("d-none");
        $("#DivBrgyCollectorASF").addClass("d-none");
        $("#DivCTCCollectorASF").addClass("d-none");
        $("#DivBPLS").addClass("d-none");
        $("#DivPATAS").addClass("d-none");
    }
</script>