<div class="content-body">
    <div class="card-block">
        <div class="card-body box-shadow-2">
            <div class="card-header bg-carheadercolor">
                <h4 class="card-title black"><b>Official Receipt/Cash Ticket Assignment</b></h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body box-shadow-2">
                    <div align="center">
                        <table style="padding: 5px 0 5px 0;" class="font-weight-normal">
                            <tr>
                                <td>
                                    <label><input type="radio" name="radio" id="radioTCAssignAF">Treasurer Collection</label>
                                    <label><input type="radio" name="radio" id="radioFCAssignAF">Field Collectors</label>
                                    <label><input type="radio" name="radio" id="radioCTAssignAF">Cash Tickets</label>
                                    <label><input type="radio" name="radio" id="radioBrgyCAssignAF">Barangay Collectors</label>
                                    <label><input type="radio" name="radio" id="radioCTCAssignAF">Community Tax Certificate Collectors</label>
                                    <label><input type="radio" name="radio" id="radioBPLSAssignAF">BPLS</label>
                                    <label><input type="radio" name="radio" id="radioPATASAssignAF">PATAS</label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    @* Treasurer's Collection Div  *@
                    <div id="DivTreasurerORASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Treasurer's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                <div id="_TreasurerCollectionID" class="font-weight-bold ">

                                </div>
                            </div>
                            <div class="mt-1" id="_TreasurerCollectionTableID">

                            </div>

                        </div>
                    </div>
                    @* Transfer / Return Modal *@
                    <div class="col-lg-8 col-md-8 col-sm-12 center">
                        <div class="modal animated zoomIn text-left" id="addTransferReturnModal" role="dialog">
                            <div class="modal-dialog" style="max-width:1320px" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-headerbc white">
                                        <h6 class="modal-title white"><i class="la la-plus mr-1"></i><b>Field Collector OR Details</b></h6>
                                        <button class="btn bg-headerbc pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
                                    </div>
                                    <div class="modal-body skin skin-square">
                                        <div class="row">
                                            <div class="col-md-12" id="_TransferReturnORID">

                                            </div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col-md-12" id="_TransferReturnORTableID">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Field Collectors *@
                    <div id="DivFieldCollectorASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Field Collector's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* Field Collection Partial View *@
                                <div id="_FieldCollectionID" class="font-weight-bold">

                                </div>
                            </div>
                            @* Treasurer Collection Partial View Table *@
                            <div id="_FieldCollectionTableID" class="mt-1">

                            </div>
                        </div>
                    </div>
                    @* Cash Tickets *@
                    <div id="DivCashTicketASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Cash Ticket's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* Cash Ticket Collection Partial View *@
                                <div class="font-weight-bold" id="_CashTicketID">

                                </div>
                            </div>
                            @* Cash Ticket Collection Partial View Table *@
                            <div class="mt-1" id="_CastTicketTableID">
                            </div>
                        </div>
                    </div>
                    @* Barangay Collectors *@
                    <div id="DivBrgyCollectorASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Barangay Collector's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* Barangay Collectors Partial View *@
                                <div class="font-weight-bold" id="_BrgyCollectorID">

                                </div>
                            </div>
                            @* Barangay Collectors Partial View Table *@
                            <div class="mt-1" id="_BrgyCollectorTableID">
                            </div>
                        </div>
                    </div>
                    @* CTC Collectors *@
                    <div id="DivCTCCollectorASF">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>Community Tax Certificate Collector's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* Community Tax Certificate Collectors Partial View *@
                                <div class="font-weight-bold" id="_CTCCollectorID">

                                </div>
                            </div>
                            @* Community Tax Certificate Collectors Partial View Table *@
                            <div class="mt-1" id="_CTCCollectorTableID">

                            </div>
                        </div>
                    </div>
                    @* BPLS *@
                    <div id="DivBPLS">
                        <div class="card-header bg-carheadercolor mt-1">
                            <h4 class="card-title black"><b>BPLS's OR Details</b></h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body box-shadow-2 rounded menubackground">
                                @* BPLS Partial View *@
                                <div class="font-weight-bold" @*id="_CTCCollectorID"*@>

                                </div>
                            </div>
                            @* BPLS Partial View Table *@
                            <div class="mt-1" @*id="_CTCCollectorTableID"*@>

                            </div>
                        </div>
                    </div>
                    @* PATAS *@
                    <div id="DivPATAS">
                        <label>PATAS</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #DivCashTickets, #DivCommunityTaxCertificate, #DivFieldCollectorASF, #DivCashTicketASF, #DivCTCCollectorASF, #DivPATAS, #DivBrgyCollectorASF, #DivBPLS {
        display: none;
    }
</style>
<script>
    //Assignment of Accountable Form
    $("#radioTCAssignAF").attr("checked", true);
    $("input[id='radioTCAssignAF']").click(function () {
        $("#DivTreasurerORASF").show();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").hide();
        $("#DivBrgyCollectorASF").hide();
        $("#DivCTCCollectorASF").hide();
        $("#DivBPLS").hide();
        $("#DivPATAS").hide();
    });
    $("input[id='radioFCAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").show();
        $("#DivCashTicketASF").hide();
        $("#DivBrgyCollectorASF").hide();
        $("#DivCTCCollectorASF").hide();
        $("#DivBPLS").hide();
        $("#DivPATAS").hide();
    });
    $("input[id='radioCTAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").show();
        $("#DivBrgyCollectorASF").hide();
        $("#DivCTCCollectorASF").hide();
        $("#DivBPLS").hide();
        $("#DivPATAS").hide();
    });
    $("input[id='radioBrgyCAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").hide();
        $("#DivBrgyCollectorASF").show();
        $("#DivCTCCollectorASF").hide();
        $("#DivBPLS").hide();
        $("#DivPATAS").hide();
    });
    $("input[id='radioCTCAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").hide();
        $("#DivBrgyCollectorASF").hide();
        $("#DivCTCCollectorASF").show();
        $("#DivBPLS").hide();
        $("#DivPATAS").hide();
    });
    $("input[id='radioBPLSAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").hide();
        $("#DivBrgyCollectorASF").hide();
        $("#DivCTCCollectorASF").hide();
        $("#DivBPLS").show();
        $("#DivPATAS").hide();
    });
    $("input[id='radioPATASAssignAF']").click(function () {
        $("#DivTreasurerORASF").hide();
        $("#DivFieldCollectorASF").hide();
        $("#DivCashTicketASF").hide();
        $("#DivBrgyCollectorASF").hide();
        $("#DivCTCCollectorASF").hide();
        $("#DivBPLS").hide();
        $("#DivPATAS").show();
    });
</script>