<div class="card-header bg-carheadercolor mt-1">
    <h4 class="card-title black"><b>Cash Ticket Details</b></h4>
</div>
<div class="card-content collapse show">
    <div class="card-body box-shadow-2">
        <div class="card-body px-1 card-body rounded menubackground">
            <div id="_CTDetailsID" class="font-weight-bold">

            </div>
        </div>
        <div class="mt-1" id="_CTDetailsTableID">

        </div>
    </div>
</div>
