@model IEnumerable<TOSS_UPGRADE.Models.FM_Barangay.BarangayBankAccountList>
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped zero-configuration table-bordered text-center table-smss-hover no-footer m-0 w-100">
            <thead>
                <tr>
                    <th>Barangay</th>
                    <th>Bank</th>
                    <th>Bank Account No</th>
                    <th width="5px;">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Items in Model)
                    {
                        var DeleteConfirmationMess = "Are you sure do you want to delete this Barangay Name?";
                        var DeleteSuccesMess = "Successfully Deleted";

                        var ViewEdit = "<button class=\"btn btn-icon btn-block black bg-addbutton border-0\" type=\"button\"onclick=\"AngularGlobalEdit('FMBarangayController','Get_UpdateBarangayBankAccount','" + @Items.BarangayBankAccountID + "')\"><i class='ft-edit mr-1'></i><b>Edit</b></button>";
                        var ViewDelete = "<button class=\"btn btn-icon white btn-block bg-headerbc  border-0\" type=\"button\" onclick=\"swalConfirmation('" + @DeleteConfirmationMess + "', '','" + @DeleteSuccesMess + "','AngularGlobalDelete(" + @Items.BarangayBankAccountID + ",&quot;Get_DeleteBankAccount&quot;,&quot;FMBarangayController&quot;)')\"> <i class='ft-delete mr-1'></i><b>Delete</b></button>";
                        var ActionContentProgram = ViewEdit + ViewDelete;
                <tr>
                    <td>@Items.BarangayName</td>
                    <td>
                        @{
                            var SubID = Items.BankAccountID;
                            var SubSector = (from e in SISDB.BankAccountTables where e.BankAccountID == SubID select e).FirstOrDefault();
                            var TDValue = "";
                            if (SubSector == null)
                            {
                                TDValue = "N/A";
                            }
                            else
                            {
                                TDValue = SubSector.BankTable.BankName;
                            }
                        }
                        @TDValue
                    </td>
                    <td>
                        @{
                            var SubID1 = Items.BankAccountID;
                            var SubSector1 = (from e in SISDB.BankAccountTables where e.BankAccountID == SubID1 select e).FirstOrDefault();
                            var TDValue1 = "";
                            if (SubSector1 == null)
                            {
                                TDValue1 = "N/A";
                            }
                            else
                            {
                                TDValue1 = SubSector1.AccountNo;
                            }
                        }
                        @TDValue1
                    </td>
                    <td width="10%">
                        <button type="button" onfocusout="PopoveLostFocus()" class="btn btn-sm btn-warning popover-trigger" data-toggle="popover" data-content="@ActionContentProgram"
                                data-original-title="" data-html="true" data-placement="right">
                            <i class="la la-bars"></i>
                        </button>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>