<div class="content-body">
    <div class="card-block">
        <div class="card-body px-1 card-body rounded menubackground">
            <div id="_BarangayBankAccountID">

            </div>
            </div>
            <div class="mt-1" id="_BarangayBankAccountTableID">

            </div>
        </div>
    </div>
