@{
    ViewBag.Title = "Disbursement";
}
<script>
    $("#fdisbursement").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header black"><b>File Maintenance - Disbursement</b></h3>
    </div>
</div>
<div class="card-content" id="FMDisbursementController" ng-controller="FMDisbursementController" ng-init="CheckInventoryTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" ng-click="CheckInventoryTab()" aria-expanded="true"><b>Check Inventory</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" ng-click="CheckMaintenanceTab()" aria-expanded="false"><b>Check Maintenance</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false" ng-click="DVTypeTab()"><b>DV Type</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Check Inventory *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
            </div>
            @* Check Maintenance *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" aria-labelledby="base-tab2" ng-bind-html="tab2">
               
            </div>
            @* DV Type *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" aria-labelledby="base-tab3" ng-bind-html="tab3">
              
            </div>
        </div>
    </div>
</div>
