@{
    ViewBag.Title = "Disbursement";
}
<script>
    $("#fdisbursement").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header black"><b>File Maintenance - Disbursement</b></h3>
    </div>
</div>
<div class="card-content" id="FMDisbursementController" ng-controller="FMDisbursementController" ng-init="CheckInventoryTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" ng-click="CheckInventoryTab()" aria-expanded="true"><b>Check Inventory</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2" ng-click="CheckMaintenanceTab()" aria-expanded="false"><b>Check Maintenance</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false" ng-click="DVTypeTab()"><b>DV Type</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Check Inventory *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
            </div>
            @* Check Maintenance *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" aria-labelledby="base-tab2" ng-bind-html="tab2">
               
            </div>
            @* DV Type *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" aria-labelledby="base-tab3" ng-bind-html="tab3">
              
            </div>
        </div>
    </div>
</div>
<script>

    @*Angular Function*@
    app.controller('FMDisbursementController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.CheckInventoryTab = function () {
            F.tab1 = null;
            P({
                url: '/FileMaintenanceDisbursement/CheckInventoryTab',
            }).then(function (response) {
                F.tab1 = D(response.data);
                F.Get_CheckInventoryTable();
            });
        }
        F.CheckMaintenanceTab = function () {
            F.tab2 = null;
            P({
                url: '/FileMaintenanceDisbursement/CheckMaintenanceTab',
            }).then(function (response) {
                F.tab2 = D(response.data);
                F.Get_CheckMaintenanceTable();
            });
        }
        F.DVTypeTab = function () {
            F.tab3 = null;
            P({
                url: '/FileMaintenanceDisbursement/DVTypeTab',
            }).then(function (response) {
                F.tab3 = D(response.data);
                F.Get_DVTypeTable();
            });
        }

        //Check Inventory
        F.LoadDynamicDDBankName = function () {
            P({
                url: '/FileMaintenanceDisbursement/GetDynamicBankName',
            }).then(function (response) {
                $("#_DynamicDDBankID").html(response.data);
                F.LoadDynamicDDAccountName();
            });
        }
        F.LoadDynamicDDAccountName = function () {
            var BankID = $("#BankIDDDCheckInventor").val()
            P({
                url: '/FileMaintenanceDisbursement/GetDynamicAccountName',
                params: { BankID: BankID }
            }).then(function (response) {
                $("#_DynamicDDAccountNameID").html(response.data);
            });
        }
        F.LoadSelectDynamicDDBankName = function () {
            var CheckInventoryBankTempID = $("#CheckInventoryBankTempID").val();
            P({
                url: '/FileMaintenanceDisbursement/GetSelectedDynamicBankName',
                params: {  CheckInventoryBankTempID: CheckInventoryBankTempID }
            }).then(function (response) {
                $("#_DynamicDDBankID").html(response.data);
                F.LoadSelectDynamicDDAccountName();
            });
        }
        F.LoadSelectDynamicDDAccountName = function () {
            var CheckInventoryAccountNameIDTempID = $("#CheckInventoryAccountNameIDTempID").val();
            var BankID = $("#BankIDDDCheckInventor").val();
            P({
                url: '/FileMaintenanceDisbursement/GetSelectedDynamicAccountName',
                params: { BankID: BankID,CheckInventoryAccountNameIDTempID: CheckInventoryAccountNameIDTempID }
            }).then(function (response) {
                $("#_DynamicDDAccountNameID").html(response.data);
            });
        }
        F.Get_CheckInventoryTable = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_CheckInventoryTable',
            }).then(function (response) {
                $("#_CheckInventoryTableID").html(response.data);
            });
            F.Get_AddCheckInventory();
        }
        F.Get_AddCheckInventory = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddCheckInventory',
            }).then(function (response) {
                $("#_CheckInventoryID").html(response.data);
                F.LoadDynamicDDBankName();
            });
        }
        F.Get_UpdateCheckInventory = function (CheckInvntID) {
            P({
                url: '/FileMaintenanceDisbursement/Get_UpdateCheckInventory',
                params: { CheckInvntID: CheckInvntID }
            }).then(function (response) {
                $("#_CheckInventoryID").html(response.data);
                F.LoadSelectDynamicDDBankName();
            });
        }
        F.Get_DeleteCheckInventory = function (CheckInvntID) {
            P({
                url: '/FileMaintenanceDisbursement/DeleteCheckInventory',
                params: { CheckInvntID: CheckInvntID }
            }).then(function (response) {
                F.Get_CheckInventoryTable();
            });
        }

        //Check Maintenance
        F.Get_CheckMaintenanceTable = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_CheckMaintenanceTable',
            }).then(function (response) {
                $("#_checkMaintenanceTableID").html(response.data);
            });
            F.Get_AddCheckMaintenance();
        }
        F.Get_AddCheckMaintenance = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddCheckMaitenance',
            }).then(function (response) {
                $("#_checkMaintenanceID").html(response.data);
                F.LoadDynamicDDBankNameCM();
            });
        }
        F.LoadDynamicDDBankNameCM = function () {
            P({
                url: '/FileMaintenanceDisbursement/GetDynamicBankNameCM',
            }).then(function (response) {
                $("#_DynamicDDBankCMID").html(response.data);
                F.LoadDynamicDDAccountNameCM();
            });
        }
        F.LoadDynamicDDAccountNameCM = function () {
            var BankID = $("#BankIDDDCM").val()
            P({
                url: '/FileMaintenanceDisbursement/GetDynamicAccountNameCM',
                params: { BankID: BankID }
            }).then(function (response) {
                $("#_DynamicDDAccountID").html(response.data);
                F.LoadDynamicStartingChkCM();
            });
        }
        F.LoadDynamicStartingChkCM = function () {
            var AccountNameIDDD2 = $("#AccountNameIDDD2").val()
            if (AccountNameIDDD2 == null) {
                AccountNameIDDD2 = 0;
            }
            P({
                url: '/FileMaintenanceDisbursement/LoadDynamicCheckMaintenanceInventory',
                params: { AccountNameIDDD2: AccountNameIDDD2}
            }).then(function (response) {
                $("#_DynamicDDStartingNoID").html(response.data);
                F.Get_CheckMaintenanceQuantyNEnd();
            });
        }
        F.Get_CheckMaintenanceQuantyNEnd = function () {
            var StartingChckNo = $("#AccountNameInventoryIDDD2 option:selected").text();
            if (StartingChckNo == null || StartingChckNo == "") {
                StartingChckNo = 0;
            }
            P({
                url: '/FileMaintenanceDisbursement/Get_CheckMaintenanceQuantyNEnd',
                params: { StartingChckNo: StartingChckNo }
            }).then(function (response) {
                $("#_DynamicTBQuanEnding").html(response.data);
            });
        }

        F.Get_UpdateCheckMaintenance = function (CheckMainteID) {
            P({
                url: '/FileMaintenanceDisbursement/Get_UpdateCheckMaintenance',
                params: { CheckMainteID: CheckMainteID }
            }).then(function (response) {
                $("#_checkMaintenanceID").html(response.data);
                F.GetLoadDynamicDDAccountName();
            });
        }
        F.GetLoadDynamicDDAccountName = function () {
            var CheckMaintenanceBankIDTempID = $("#CheckMaintenanceBankIDTempID").val();
            P({
                url: '/FileMaintenanceDisbursement/GetSelectedDynamicMaitenance',
                params: { CheckMaintenanceBankIDTempID: CheckMaintenanceBankIDTempID }
            }).then(function (response) {
                $("#_DynamicDDAccountID").html(response.data);
            });
        }
        F.Get_DeleteCheckMaintenance = function (CheckMainteID) {
            P({
                url: '/FileMaintenanceDisbursement/DeleteCheckMaintenance',
                params: { CheckMainteID: CheckMainteID }
            }).then(function (response) {
                F.Get_CheckMaintenanceTable();
            });
        }

        //DV Type
        F.Get_DVTypeTable = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_DVTypeTable',
            }).then(function (response) {
                $("#DVTypeTableID").html(response.data);
            });
            F.Get_AddDVType();
        }
        F.Get_AddDVType = function () {
            P({
                url: '/FileMaintenanceDisbursement/Get_AddDVType',
            }).then(function (response) {
                $("#DVTypeID").html(response.data);
            });
        }
        F.Get_UpdateDVType = function (DVTypeID) {
            P({
                url: '/FileMaintenanceDisbursement/Get_UpdateDVType',
                params: { DVTypeID: DVTypeID }
            }).then(function (response) {
                $("#DVTypeID").html(response.data);
            });
        }
        F.Get_DeleteDVType = function (DVTypeID) {
            P({
                url: '/FileMaintenanceDisbursement/DeleteDVType',
                params: { DVTypeID: DVTypeID }
            }).then(function (response) {
                F.Get_DVTypeTable();
            });
        }
        });
</script>
