@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableForm
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
<label><b>Description</b></label>
@Html.DropDownListFor(m => m.DescriptionID, Model.AccountableFormList, new { @class = "form-control select2", id = "DescriptionIDD", onchange = "CashTicketValueIDOnchange()" })

<script>
    $(function () {
        $("#DescriptionIDD").select2();
        CashTicketValueIDOnchange()
    })
</script>
