<div class="content-body">
    <div class="card-body px-1 card-body rounded menubackground">
        <div id="_AccountableFormID">

        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12" id="_AccountableFormTableID">

        </div>
    </div>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
    <div class="form-group">
        <div class="modal animated zoomIn text-left" id="addDescriptionModal" role="dialog">
            <div class="modal-dialog" style="max-width:600px" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-headerbc white">
                        <h4 class="modal-title white"><i class="la la-plus mr-1"></i>Add New Description</h4>
                        <button class="btn bg-headerbc pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
                    </div>
                    <div class="modal-body skin skin-square">
                        <div class="row">
                            <div class="col-md-12" id="_DescriptionxID">

                            </div>
                        </div>
                        <div class="row mt-1" id="_DescriptionTableID">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
