<div class="content-body"><div class="card-body px-1 card-body rounded menubackground">
    <div id="_AccountableFormID">

    </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12" id="_AccountableFormTableID">

        </div>
    </div>
</div>