
@model TOSS_UPGRADE.Models.FM_ChartOfAccounts.FM_ChartOfAccounts_MajorAccountGroup
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<label class="mt-1"><b>Allotment Class</b></label>
@Html.DropDownListFor(m => m.AllotmentClassID, Model.MajorAccountGroupList, new { @class = "form-control select2", id = "MajorAccountGroupAllotmentClassNameIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMRevisonYearController','LoadDynamicDDMajorAccountGroupAccountGroupName','')" })

@*<script>
        $(function () {
            $("#RevisionYearNameIDD").select2();
        })
    </script>*@

