@model TOSS_UPGRADE.Models.FM_ChartOfAccounts.FM_ChartOfAccounts_MajorAccountGroup
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label class="mt-1"><b>Revision Year</b></label>
@Html.DropDownListFor(m => m.RevisionYearDate, Model.MajorAccountGroupList, new { @class = "form-control select2", id = "MajorAccountGroupRevisionYearNameIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMRevisonYearController','LoadDynamicDDMajorAccountGroupAllotmentClass','')" })

@*<script>
        $(function () {
            $("#RevisionYearNameIDD").select2();
        })
</script>*@

