@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableForm
@using TOSS_UPGRADE.Models;
@{
    DB_TOSSEntities CEE = new DB_TOSSEntities();
}
@{
    ViewBag.Title = "Bank";
}
<script>
    $("#fmBank").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Bank</b></h3>
    </div>
</div>

<div class="card-content" id="FMBankController" ng-controller="FMBankController" ng-init="BankTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" aria-controls="tab1" href="#tab1" ng-click="BankTab()" aria-expanded="true"><b>Bank</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" ng-click="AccountTypeTab()" href="#tab2" aria-expanded="false"><b>Account Type</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" ng-click="BankAccountTab()" aria-expanded="false"><b>Bank Accounts</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Bank *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
                
            </div>
            @* Account Type *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2" aria-labelledby="base-tab2">
              
            </div>
            @* Bank Accounts *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" aria-labelledby="base-tab3" ng-bind-html="tab3">
               
            </div>
        </div>
    </div>
</div>
<script>

    @*Angular Function*@
    app.controller('FMBankController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        F.BankTab = function () {
            F.tab1 = null;
            P({
                url: '/FileMaintenanceBank/BankTab',
            }).then(function (response) {
                F.tab1 = D(response.data);
                F.Get_BankTable();
            });
        }
        F.AccountTypeTab = function () {
            F.tab2 = null;
            P({
                url: '/FileMaintenanceBank/AccountTypeTab',
            }).then(function (response) {
                F.tab2 = D(response.data);
                F.Get_AccountTypeTable();
            });
        }
        F.BankAccountTab = function () {
            F.tab3 = null;
            P({
                url: '/FileMaintenanceBank/BankAccountTab',
            }).then(function (response) {
                F.tab3 = D(response.data);
                F.Get_BankAccountTable();
            });
        }

        //Bank Name
        F.Get_BankTable = function () {
            P({
                url: '/FileMaintenanceBank/Get_BankTable',
            }).then(function (response) {
                $("#_BankTableID").html(response.data);
            });
            F.Get_AddBank();
        }
        F.Get_AddBank = function () {
            P({
                url: '/FileMaintenanceBank/Get_AddBankName',
            }).then(function (response) {
                $("#_BankID").html(response.data);
            });
        }
        F.Get_UpdateBank = function (BankID) {
            P({
                url: '/FileMaintenanceBank/Get_UpdateBankName',
                params: { BankID: BankID }
            }).then(function (response) {
                $("#_BankID").html(response.data);
            });
        }
        F.Get_DeleteBank = function (BankID) {
            P({
                url: '/FileMaintenanceBank/DeleteBankName',
                params: { BankID: BankID }
            }).then(function (response) {
                F.Get_BankTable();
            });
        }

        //Account Type

        F.Get_AccountTypeTable = function () {
            P({
                url: '/FileMaintenanceBank/Get_AccountTypeTable',
            }).then(function (response) {
                $("#AccountTypeTableID").html(response.data);
            });
            F.Get_AddAccountType();
        }
        F.Get_AddAccountType = function () {
            P({
                url: '/FileMaintenanceBank/Get_AddAccountType',
            }).then(function (response) {
                $("#_AccountTypeID").html(response.data);
            });
        }
        F.Get_UpdateAccountType = function (AccountTypeID) {
            P({
                url: '/FileMaintenanceBank/Get_UpdateAccountType',
                params: { AccountTypeID: AccountTypeID }
            }).then(function (response) {
                $("#_AccountTypeID").html(response.data);
            });
        }
        F.Get_DeleteAccountType = function (AccountTypeID) {
            P({
                url: '/FileMaintenanceBank/DeleteAccountType',
                params: { AccountTypeID: AccountTypeID }
            }).then(function (response) {
                F.Get_AccountTypeTable();
            });
        }

        //Bank Account

        F.Get_BankAccountTable = function () {
            P({
                url: '/FileMaintenanceBank/Get_BankAccountTable',
            }).then(function (response) {
                $("#_BankAccountTableID").html(response.data);
            });
            F.Get_AddBankAccount();
        }
        F.Get_AddBankAccount = function () {
            P({
                url: '/FileMaintenanceBank/Get_AddBankAccount',
            }).then(function (response) {
                $("#_BankAccountID").html(response.data);
                F.LoadDynamicDDBank();
                F.LoadDynamicDDAccountType();
                F.LoadDynamicDDFundType();
                F.LoadDynamicDDGeneralName();
            });
        }
        F.LoadDynamicDDBank = function () {
            P({
                url: '/FileMaintenanceBank/GetDynamicBank',
            }).then(function (response) {
                $("#_BankAccountBankID").html(response.data);
            });
        }
        F.LoadDynamicDDAccountType = function () {
            P({
                url: '/FileMaintenanceBank/GetDynamicAccountType',
            }).then(function (response) {
                $("#_DynamicDDAccountTypeID").html(response.data);
            });
        }
        F.LoadDynamicDDFundType = function () {
            P({
                url: '/FileMaintenanceBank/GetDynamicFundType',
            }).then(function (response) {
                $("#_DynamicDDFundTypeID").html(response.data);
            });
        }
        F.LoadDynamicDDGeneralName = function () {
            P({
                url: '/FileMaintenanceBank/GetDynamicGeneralAccount',
            }).then(function (response) {
                $("#_DynamicDDGeneralNameID").html(response.data);
                F.LoadDynamicDDGeneralCode();
            });
        }
        F.LoadDynamicDDGeneralCode = function () {
            var GeneralAccountID = $("#GeneralAccountNameIDDD").val();
            P({
                url: '/FileMaintenanceBank/GetDynamicGeneralAccountCode',
                params: { GeneralAccountID: GeneralAccountID },
            }).then(function (response) {
                $("#_DynamicCodeID").html(response.data);
            });
        }
        F.Get_UpdateBankAccount = function (BankAccountID) {
            P({
                url: '/FileMaintenanceBank/Get_UpdateBankAccount',
                params: { BankAccountID: BankAccountID }
            }).then(function (response) {
                $("#_BankAccountID").html(response.data);
                F.LoadSelectedDynamicDDBank();
                F.LoadSelectedSelectedDynamicDDAccountType();
                F.LoadSelectedDynamicDDFundType();
                F.LoadSelectedDynamicDDGeneralName();
            });
        }
        F.LoadSelectedDynamicDDBank = function () {
            var BankAccountBankTempID = $("#BankAccountBankTempID").val();
            P({
                url: '/FileMaintenanceBank/GetSelectedDynamicBank',
                params: { BankAccountBankTempID: BankAccountBankTempID }
            }).then(function (response) {
                $("#_BankAccountBankID").html(response.data);
            });
        }
        F.LoadSelectedSelectedDynamicDDAccountType = function () {
            var BankAccountAccountTypeTempID = $("#BankAccountAccountTypeTempID").val();
            P({
                url: '/FileMaintenanceBank/GetSelectedDynamicAccountType',
                params: { BankAccountAccountTypeTempID: BankAccountAccountTypeTempID }
            }).then(function (response) {
                $("#_DynamicDDAccountTypeID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDFundType = function () {
            var BankAccountFundTypeTempID = $("#BankAccountFundTypeTempID").val();
            P({
                url: '/FileMaintenanceBank/GetSelectedDynamicFundType',
                params: { BankAccountFundTypeTempID: BankAccountFundTypeTempID }
            }).then(function (response) {
                $("#_DynamicDDFundTypeID").html(response.data);
            });
        }
        F.LoadSelectedDynamicDDGeneralName = function () {
            var BankAccountGeneralAccountNameTempID = $("#BankAccountGeneralAccountNameTempID").val();
            P({
                url: '/FileMaintenanceBank/GetSelectedDynamicGeneralAccount',
                params: { BankAccountGeneralAccountNameTempID: BankAccountGeneralAccountNameTempID }
            }).then(function (response) {
                $("#_DynamicDDGeneralNameID").html(response.data);
                F.LoadDynamicDDGeneralCode();
            });
        }
        F.Get_DeleteBankAccount = function (BankAccountID) {
            P({
                url: '/FileMaintenanceBank/DeleteBankAccount',
                params: { BankAccountID: BankAccountID }
            }).then(function (response) {
                F.Get_BankAccountTable();
            });
        }
        });
</script>