@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableForm
@using TOSS_UPGRADE.Models;
@{
    DB_TOSSEntities CEE = new DB_TOSSEntities();
}
@{
    ViewBag.Title = "Bank";
}
<script>
    $("#fmBank").addClass("active");
</script>

<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Bank</b></h3>
    </div>
</div>

<div class="card-content" id="FMBankController" ng-controller="FMBankController" ng-init="BankTab();">
    <div class="card">
        <ul class="nav nav-tabs bg-headerbc nav-underline">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab1" data-toggle="pill" aria-controls="tab1" href="#tab1" ng-click="BankTab()" aria-expanded="true"><b>Bank</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab2" ng-click="AccountTypeTab()" href="#tab2" aria-expanded="false"><b>Account Type</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab3" href="#tab3" ng-click="BankAccountTab()" aria-expanded="false"><b>Bank Accounts</b></a>
            </li>
        </ul>
        <div class="tab-content px-1 pt-1">
            @* Bank *@
            <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" ng-bind-html="tab1" aria-labelledby="base-tab1">
                
            </div>
            @* Account Type *@
            <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true" ng-bind-html="tab2" aria-labelledby="base-tab2">
              
            </div>
            @* Bank Accounts *@
            <div role="tabpanel" class="tab-pane" id="tab3" aria-expanded="true" aria-labelledby="base-tab3" ng-bind-html="tab3">
               
            </div>
        </div>
    </div>
</div>