@model TOSS_UPGRADE.Models.FM_ChartOfAccounts.FM_ChartOfAccounts_AccountGroup
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label class="mt-1"><b>Revision Year</b></label>
@Html.DropDownListFor(m => m.RevisionYearDate, Model.AccountGroupList, new { @class = "form-control select2", id = "AccountGroupRevisionYearNameIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMRevisonYearController','LoadDynamicDDAccountGroupAllotmentClass','')" })

@*<script>
        $(function () {
            $("#RevisionYearNameIDD").select2();
        })
    </script>*@


