<div class="content-body">
    <div id="_AccountGroupID">

    </div>
    <div class="row mt-1" >
        <div class="col-md-1">
        </div>
        <div class="col-md-10" id="_AccountGroupTableID"></div>
    </div>
</div>
