<div class="content-body">
    <div class="card-block">
        <div class="card-body px-1 card-body rounded menubackground">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" id="_BarangayCollectorID">
                </div>
            </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-1"></div>
                <div class="col-md-10" id="_BarangayCollectorTableID">

                </div>
            </div>
        </div>
    </div>
