@model TOSS_UPGRADE.Models.FM_SignatoriesModel
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label><b>Department</b></label>
    @Html.DropDownListFor(m => m.DepartmentID, Model.DepartmentList, new { @class = "form-control select2", id = "DepartmentIDD", onchange = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMSignatoriesController','LoadDynamicDDFunction','')" })

<script>
    $(function () {
        $("#DepartmentIDD").select2();
    })
</script>