@model TOSS_UPGRADE.Models.FM_SignatoriesModel
@using System.Security.Claims;
@using TOSS_UPGRADE.Models;
@{
    DB_TOSSEntities CEE = new DB_TOSSEntities();
}
@{
    ViewBag.Title = "Signatories";
}
<script>
    $("#fsignatories").addClass("active");
</script>
<div class="content-header row">
    <div class="content-header-left col-md-6 mb-2">
        <h3 class="content-header-title black"><b>File Maintenance - Signatory</b></h3>
    </div>
</div>
<div class="content-body">
    <div class="row" id="FMSignatoriesController" ng-controller="FMSignatoriesController" ng-init="InitAllFunction();">
        <div class="col-12 col-xl-12 ">
            <div class="row">
                <div class="col-md-12">
                    <div class="card box-shadow-2">
                        <div class="card-body box-shadow-2">
                            <div class="card-body px-1 card-body rounded menubackground">
                                <div class="content-body black" id="SignatoriesIDTemp">

                                </div>
                            </div>
                            <div class="card-body box-shadow-2" id="SignatoriesTableID">

                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>

        @* Add Position Modal *@
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="form-group">
                <div class="modal animated zoomIn text-left" id="addPositionModal" role="dialog">
                    <div class="modal-dialog" style="max-width:700px" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-headerbc white">
                                <h4 class="modal-title white"><i class="la la-plus mr-1"></i>Position</h4>
                                <button class="btn bg-headerbc pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
                            </div>
                            <div class="modal-body skin skin-square">
                                <div class="row">
                                    <div class="col-md-12" id="PositionTempID">

                                    </div>
                                </div>
                                <div class="row mt-1" id="PositionTableID">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Add Department Modal *@
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="form-group">
                <div class="modal animated zoomIn text-left" id="addDepartmentModal" role="dialog">
                    <div class="modal-dialog" style="max-width:1000px" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-headerbc white">
                                <h4 class="modal-title white"><i class="la la-plus mr-1"></i>Department</h4>
                                <button class="btn bg-headerbc pull-right p-0 white" data-dismiss="modal"><i class="la la-close"></i></button>
                            </div>
                            <div class="modal-body skin skin-square">
                                <div class="row">
                                    <div class="col-md-12" id="DepartmentxID">

                                    </div>
                                </div>
                                <div class="row mt-1" id="DepartmentTableID">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
