<div class="content-body" id="">
    <div class="row">
        <div class="col-md-12">
            <div class="card-block">
                <div class="card-header bg-carheadercolor">
                    <h4 class="card-title black"><b>Check Maintenance</b></h4>
                </div>
                <div class="card-body box-shadow-2" id="_checkMaintenanceID">

                </div>
                <div class="row mt-1" id="_checkMaintenanceTableID">
                </div>
            </div>
        </div>
    </div>
</div>
