@model TOSS_UPGRADE.Models.FM_Fees.FM_Fees_Fee
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;


<label><b>Fund Type</b></label>
@Html.DropDownListFor(m => m.FundTypeID, Model.FieldFeeList, new { @class = "form-control select2", id = "FundTypeIDD" })


