@model TOSS_UPGRADE.Models.FM_AccountableForm.FM_AccountableFormAssignment
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<label class="mt-1">Old Collector</label>
@Html.HiddenFor(m => m.AccountableTCTRORMainCID, new { @class = "form-control select2 text-center", id = "MainCOIDDD", @disabled = "disabled" })
@Html.TextBoxFor(m => m.AccountableTCTRORMainName, new { @class = "form-control select2 text-center", id = "MainCOIDDD", @disabled = "disabled" })