
@model TOSS_UPGRADE.Models.FM_Fees.FM_Fees_Fee
@{
    DB_TOSSEntities SISDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;
@using (Ajax.BeginForm("UpdateFeeCategory", "FileMaintenanceFees", new AjaxOptions { OnSuccess = "AngularGlobalAlertsCallingNoModalNoSuccessWithDoubleFunc('FMFeeController','Get_FeeCategoryTable','SuccessMessageBox')", OnFailure = "OnFailure()", }))
{
    @Html.HiddenFor(m => m.getFeeCategorycolumns.FeeCategoryID, new { })
    @Html.HiddenFor(m => m.AccountFormTempID, new { id = "AccountFormTempID" })
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Fee Category</label>
                    @Html.TextBoxFor(m => m.getFeeCategorycolumns.FeeCategoryName, new { @class = "form-control", type = "text" })
                </div>
                <div class="col-md-4" id="_AFTypeORID">
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label style="visibility:hidden">OR Type</label>
                            <button type="submit" class="btn bg-addbutton black form-control"><b>Update</b></button>
                        </div>
                        <div class="col-md-6">
                            <label style="visibility:hidden">OR Type</label>
                            <button type="reset" class="btn bg-headerbc black form-control"  onclick="AngularGlobalEdit('FMFeeController','Get_AddFeeCategory','')"><b>Cancel</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        LoadDataTable();
        LoadPopOver();
    })
</script>