
@model TOSS_UPGRADE.Models.FM_Bank.FM_Bank
@{
    DB_TOSSEntities TOSSDB = new DB_TOSSEntities();
}
@using TOSS_UPGRADE.Models;

<label><b>Account Type</b></label>
@Html.DropDownListFor(m => m.BankAccountAccountTypeID, Model.BankAccountBankList, new { @class = "form-control select2", id = "AccountTypeIDDD" })

