
<div class="content-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card-block">
                <div class="card-header bg-carheadercolor">
                    <h4 class="card-title black"><b>Check Inventory</b></h4>
                </div>
                <div class="card-body box-shadow-2">
                    <div class="row black">
                        <div class="col-md-12" id="_CheckInventoryID"></div>
                    </div>
                    <div class="row mt-1" id="_CheckInventoryTableID">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>